// main: ../style.scss
@import '../global/vars';
@import '../global/mixin'; // forms

.overlay-form {
  input[type=email],
  input[type=number],
  input[type=tel],
  input[type=text] {
    font-size: $h4-size-smartphone;
    line-height: $h4-lineheight-smartphone;
    margin-bottom: 15px;
  }

  .search-submit {
    span {
      font-size: $h3-size-smartphone;
      line-height: $h3-lineheight-smartphone;
    }
  }
}

.form-hold {
  label {
    font-size: $h5-size-smartphone;
    line-height: $h5-lineheight-smartphone;
  }

  input[type=date],
  input[type=email],
  input[type=number],
  input[type=tel],
  input[type=text] {
    font-size: $h5-size-smartphone;
    line-height: $h5-lineheight-smartphone;
    margin-bottom: 15px;
  }

  textarea {
    font-size: $h5-size-smartphone;
    line-height: 18px;
    margin-bottom: 15px;
  }

  select {
    font-size: $h5-size-smartphone;
    line-height: 18px;
    margin-bottom: 15px;
  }

  input[type=submit] {
    font-size: $paragraph-size-smartphone;
    font-weight: $font-weight-3;
  }
}