// main: ../style.scss
@import '../global/vars';
@import '../global/mixin'; // wrappers and more

html {
  scroll-padding-top: 100px;
}

/* oppure */
body {
  scroll-padding-top: 100px;
}

.desktop-only {
  display: none !important;
}

.index-menu-only-mobile-js {
  display: none;
}

.wrapper-padded {
  width: calc(100% - (#{$wrapper-padded-smartphone} * 2));
  padding: 0 $wrapper-padded-smartphone;
}

.full-image {
  width: calc(100% + (#{$wrapper-padded-smartphone} * 2));
  left: -$wrapper-padded-smartphone;
}

.wrapper-padded-intro,
.wrapper-padded-more,
.wrapper-padded-more-500,
.wrapper-padded-more-650,
.wrapper-padded-more-780,
.wrapper-padded-more-924 {
  width: 100%;
}

.page-opening-padder {
  padding: rem(40) 0 rem(80);
}

.single-content-opening-padder {
  padding: rem(20) 0 rem(10);
}

.avviso-padder,
.avviso-top-padder {
  padding: rem(40) 0 rem(10);
}

.avviso-padder {
  h3 {
    padding-left: rem(30);
  }
}

.intro-news-padder {
  padding: 0;
}

.tags-holder {
  width: 100%;
  margin: rem(30) 0 rem(10);

  li {
    display: inline-block;
    margin-right: rem(15);
    margin-bottom: rem(20);
  }
}

.listing-module {
  .tags-holder {
    margin: rem(10) 0;
  }
}

.intro-box {
  margin: 0 0 rem(20);

  &.card {
    border-radius: 0;
    box-shadow: none;
  }
}

.intro-news-padder {
  .category-holder {
    margin-bottom: rem(20);
  }
}

.wrapper-step {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: rem(50);
}

.wrapper-step-image {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: rem(300);
}

.highlight-box {
  margin: rem(60) 0 0;
}

.thematic-box {
  margin: rem(60) 0;
}

.search-banner {
  margin: rem(55) 0;
}

.listing-box {
  margin: rem(30) 0;
}

.tag-box {
  margin: rem(30) 0;
}

.module-separator {
  margin-bottom: rem(35);
}

.module-separator-flex {
  margin-bottom: rem(16);
}

.scadenze-wrapper {
  margin-top: rem(40);
}

// flex boxes
// per calcolare la larghezza degli elementi flex:
// valore margin right - (valore margin right / numero elmenti per riga)
// es. 16 - (16/2) = 8

.grid-separator-1 {
  margin: 0 0 rem(54);
}

.grid-separator-2 {
  margin: rem(10) 0 0;
}

.lined-mobile {
  .flex-hold-child {
    border-bottom: $color-2 solid rem(1);
    padding-bottom: rem(10) !important;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0 !important;
    }
  }
}

.flex-hold-2,
.flex-hold-3,
.flex-hold-4,
.flex-hold-avviso {
  &.margins-thin {
    .flex-hold-child {
      width: 100%;
      margin: 0 0 rem(24);
    }
  }

  &.margins-wide {
    .flex-hold-child {
      width: 100%;
      margin: 0 0 rem(24);
    }
  }

  &.margins-fit {
    .flex-hold-child {
      width: 100%;
      margin: 0 0 rem(24);
    }
  }

  &.keep-2-mobile {
    &.margins-wide {
      .flex-hold-child {
        width: 50% !important;
        margin: 0;
      }

    }
  }

  .avviso-left {
    width: 80%;
    order: 1;
    z-index: 3;

    h2,
    h3 {
      padding-left: rem(30);
    }
  }

  .avviso-right {
    position: absolute;
    z-index: 2;
    top: 0;
    right: rem(-24);
    display: block;
    width: 100%;
    height: 100%;
    order: 2;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    .avviso-shadow {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background: #1A4D78;
      background: linear-gradient(90deg, rgba(26, 77, 120, 1) 0%, rgba(26, 77, 120, 0.9) 100%);
    }
  }
}

.chiudi-avviso {
  position: absolute;
  left: rem(-15);
  top: rem(43);
  color: $color-11;

  span {
    font-size: rem(28);
  }
}

.still-two-mobile {
  .flex-hold-child {
    width: calc(50% - rem(12)) !important;
    margin: 0 rem(12) rem(12) 0 !important;
  }

  .flex-hold-child:nth-child(2n) {
    margin-right: 0;
  }
}

.intro-box {
  .image-box {
    order: 1;
  }

  .text-box {
    order: 2;
  }
}

.flex-hold-page-opening {
  margin-top: rem(10);

  .page-opening-left {
    order: 1;
    width: 100%;

    .banner-form {
      margin-top: rem(30);
    }

    .card {
      margin-top: rem(30);
    }
  }

  .page-opening-right {
    order: 2;
    width: 100%;

    .padder {
      padding-top: rem(30);

      .card {
        margin-top: rem(20);
      }
    }

    .tags-holder {
      margin-top: rem(10);
    }
  }
}

.flex-hold-page-index {
  margin-top: rem(10);
  border-top: solid rem(1) $color-10;

  .page-index-left {
    order: 1;
    width: 100%;
    margin-bottom: rem(30);

    .sticky-element-compact {
      top: $header-smartphone-height-compact;
    }

    .sticky-element-expanded {
      top: $header-smartphone-height;
    }
  }

  .page-index-right {
    order: 2;
    width: 100%;

    .padder {
      padding: 0;
    }
  }
}

.flex-hold-search-page {

  //margin-top: 20px;
  //padding-top: 20px;
  //border-top: solid 1px $color-10;
  &.bordered {
    border: none !important;
  }

  .search-page-left {
    order: 1;
    //width: 350px;
    width: 100%;

    .padder {
      padding: 0 0 rem(30);

      h5 {
        margin-top: rem(30);

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }

  .search-page-right {
    order: 2;
    width: 100%;

    .padder {
      padding: 0 0 rem(85);
    }
  }
}

.flex-hold-scadenze {
  &:last-child {
    .data {
      margin-bottom: 0;
    }
  }

  .data {
    order: 1;
    width: rem(90);
    height: rem(85);
    overflow: hidden;
    @include define-border-radius(8px);
    background-color: $color-8;
    text-align: center;
    padding-top: rem(4);
    margin-right: rem(25);
    margin-bottom: rem(25);
    -webkit-box-shadow: 0 0 rem(8) 0 rgba(0, 43, 85, 0.1);
    -moz-box-shadow: 0 0 rem(8) 0 rgba(0, 43, 85, 0.1);
    box-shadow: 0 0 rem(8) 0 rgba(0, 43, 85, 0.1);

    h3,
    h5 {
      color: $color-1;
      margin-bottom: 0;
    }

    h5 {
      line-height: rem($h5-size-smartphone);
    }
  }

  .info {
    position: relative;
    order: 2;
    width: calc(100% - rem(116));
    border-left: solid rem(1) $color-4;

    &:before {
      content: "";
      position: absolute;
      left: rem(-4);
      top: rem(41);
      width: rem(8);
      height: rem(8);
      background-color: $color-4;
      @include define-border-radius(rem(8));
    }

    .padder {
      padding: 0 0 0 rem(30);
    }
  }
}

.flex-fix-column {
  &.left-fix {
    .fix {
      order: 1;
      width: calc(33.333333% - rem(48));
      margin: 0 rem(72) rem(48) 0;
    }

    .nofix {
      order: 2;
      width: calc(66.666666% - rem(48));
      margin-right: 0;
    }
  }

  &.right-fix {
    .fix {
      order: 2;
      width: calc(33.333333% - rem(48));
      margin: 0 0 rem(48) rem(72);
    }

    .nofix {
      order: 1;
      width: calc(66.666666% - rem(48));
      margin-right: 0;
    }
  }
}

.card-date-holder {
  .data {
    order: 1;
    width: rem(90);
    height: rem(85);
    overflow: hidden;
    @include define-border-radius(rem(8));
    background-color: $color-8;
    text-align: center;
    padding-top: rem(4);
    margin-right: rem(25);
    margin-bottom: rem(25);
    -webkit-box-shadow: 0 0 rem(8) 0 rgba(0, 43, 85, 0.1);
    -moz-box-shadow: 0 0 rem(8) 0 rgba(0, 43, 85, 0.1);
    box-shadow: 0 0 rem(8) 0 rgba(0, 43, 85, 0.1);

    h3,
    h5 {
      color: $color-1;
      margin-bottom: 0;
    }

    h5 {
      line-height: rem($h5-size-smartphone);
    }
  }
}

// social list

.inline-socials {
  width: 100%;
  margin: 0;

  li {
    text-align: center !important;
    display: inline-block;
    width: rem(28);
    height: rem(28);
    margin: 0 0 rem(10) rem(15);
    overflow: hidden;
    font-size: rem(28);
  }
}

// cards

.card-outline {
  margin-top: rem(30);

  .card_inner {
    position: relative;

    &.regular-card {
      padding: rem(40);
    }

    &.compact-card {
      padding: rem(20) rem(20) rem(0);
    }
  }
}

.card {
  .cta-holder {
    position: absolute;
    bottom: rem(25);
    left: 0;
    display: block;
    width: calc(100% - rem(40));
    padding: 0 rem(20);
  }

  .image-card-image-side {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 40%;
    height: 100%;
  }
}

.card_inner {
  position: relative;

  &.regular-card {
    padding: rem(20) rem(20) rem(35);
  }

  &.compact-card {
    padding: rem(20) rem(20) 0;
  }

  &.cap-card {
    padding: rem(20);
  }

  &.image-card {
    width: calc(60% - rem(30));
    padding: rem(20) 0 rem(50) rem(20);
  }

  &.warning-card {
    padding: rem(20) rem(20) rem(20) rem(55);

    .icon {
      position: absolute;
      top: rem(22);
      left: rem(20);
    }
  }

  &.image-card-normal {
    padding-bottom: 70%;
  }

  &.image-card-big {
    //padding-bottom: 150%;
    min-height: 80vw;
  }

  &.image-card-big,
  &.image-card-normal {
    .image-card-content {
      position: absolute;
      bottom: rem(24);
      left: 0;
      width: calc(100% - rem(40));
      padding: 0 rem(20);
    }
  }

  .cover-image {
    position: relative;
    margin-top: rem(-20);
    left: rem(-20);
    width: calc(100% + rem(40));
    margin-bottom: rem(15);
  }

  .category-holder {
    margin-bottom: rem(20);
  }

  .category-square {
    margin-bottom: rem(25);

    &.title-block,
    &.title-block h3 {
      margin-bottom: 0;
    }
  }

  .texts-holder {
    margin-bottom: rem(50);

    &.compact {
      margin-bottom: rem(25);
    }
  }

  .texts-holder-no-cta {}

  .more-info {
    margin-bottom: rem(40);
  }
}

.search-results {
  .regular-card {
    padding: 0 0 rem(35);
    border-bottom: solid rem(1) $color-10;
  }

  .cta-holder {
    position: relative;
    bottom: rem(35);
    padding: 0;
  }
}

.map-module {
  .video_frame {
    position: relative;
    left: rem(-24);
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    width: calc(100% + rem(48)) !important;
    height: auto;
    margin-bottom: calc(#{rem($paragraph-marginbottom-smartphone)} * 2);
  }
}

.no-index {
  padding-top: rem(24);
}

.rmp-widgets-container {
  text-align: left !important;

  .rmp-heading--title {
    font-family: $font-main;
    font-size: rem($h5-size-smartphone);
    line-height: rem($h5-lineheight-smartphone);
    margin-bottom: rem($h5-marginbottom-smartphone);
    font-weight: $font-weight-3;
  }

  .rmp-heading--subtitle {
    font-family: $font-main;
    font-size: rem($h6-size-smartphone);
    line-height: rem($h6-lineheight-smartphone);
    margin-bottom: $h6-marginbottom-smartphone;
    font-weight: $font-weight-1;
  }

  .rmp-rating-widget__results,
  .rmp-rating-widget__not-rated {
    font-family: $font-main;
    font-size: rem($h5-size-smartphone);
    line-height: rem($h5-lineheight-smartphone);
    margin-bottom: rem($h5-marginbottom-smartphone);
    font-weight: $font-weight-3;
  }

  .rmp-rating-widget__msg {
    font-family: $font-main;
    font-size: rem($h6-size-smartphone);
    line-height: rem($h6-lineheight-smartphone);
    margin-bottom: $h6-marginbottom-smartphone;
    font-weight: $font-weight-1;
  }
}