// main: ../style.scss
@import '../global/vars';
@import '../global/mixin'; // wrappers and more

.wrapper {
  overflow: hidden;
}

.wrapper-padded {
  width: calc(100% - (#{$wrapper-padded-smartphone} * 2));
  max-width: 768px;
  margin: 0 auto;
  padding: 0 $wrapper-padded-smartphone;
}

.wrapper-padded-more,
.wrapper-padded-more-500,
.wrapper-padded-more-650,
.wrapper-padded-more-700,
.wrapper-padded-more-924 {
  position: relative;
  width: 100%;
}
// flex boxes
// per calcolare la larghezza degli elementi flex:
// valore margin right - (valore margin right / numero elmenti per riga)
// es. 16 - (16/2) = 8

.parnter-grid {
  margin-top: 20px;
}

.partner-box {
  @include flex-wrap;
  width: 100%;
}

.partner-label {
  width: 100%;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.partner-logo {
  @include flex-wrap;
  -webkit-align-items: center;
  align-items: center;
}

.flex-fix-column,
.flex-hold-2,
.flex-hold-3,
.flex-hold-4 {
  .flex-hold-child {
    position: relative;
    -webkit-box-flex: 1;
    width: 100%!important;
    margin: 0 0 32px;
  }
}

.flex-fix-column {
  .fix {
    margin: 0 0 32px;
  }
}

.flex-hold-block {
  &.flex-hold-block-listed {
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: $color-2 solid 1px;
  }

  .flex-hold-child-image {
    width: 100%!important;
    margin: 0 0 24px;

    .flex-hold-child-image-aligner {
      text-align: center;
    }
  }

  .flex-hold-child-texts {
    width: 100%!important;
    margin: 0 0 24px;
    text-align: center;
  }
}

.flex-hold-page-opening {
  .page-opening-text {
    order: 2;
    width: 100%;

    .page-opening-text-space {
      position: relative;
      width: calc(100% - (#{$wrapper-padded-smartphone} * 2));
      padding: 5vh $wrapper-padded-smartphone;
      text-align: center;
    }
  }

  .page-opening-image {
    order: 1;
    width: 100%;
    margin-top: 40px;

    .page-opening-image-aligner {
      text-align: center;
    }
  }
}

.flex-hold-3 {
  &.margins-thin {
    .flex-hold-child {
      width: calc(33.333333% - 12px);
      margin: 0 18px 18px 0;
    }

    .flex-hold-child:nth-child(3n) {
      margin-right: 0;
    }
  }

  &.margins-wide {
    .flex-hold-child {
      width: calc(33.333333% - 48px);
      margin: 0 72px 48px 0;
    }

    .flex-hold-child:nth-child(3n) {
      margin-right: 0;
    }
  }

  &.margins-fit {
    .flex-hold-child {
      width: 33.333333%;
    }
  }
}

.flex-hold-4 {
  &.margins-thin {
    .flex-hold-child {
      width: calc(25% - 12px) !important;
      margin: 0 16px 16px 0;
    }

    .flex-hold-child:nth-child(4n) {
      margin-right: 0;
    }
  }

  &.margins-wide {
    .flex-hold-child {
      width: calc(25% - 36px) !important;
      margin: 0 48px 48px 0;
    }

    .flex-hold-child:nth-child(4n) {
      margin-right: 0;
    }
  }

  &.margins-fit {
    .flex-hold-child {
      width: 25%;
    }
  }
}
// social list

.inline-socials {
  width: 100%;
  margin: 10px 0;

  li {
    text-align: center !important;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 0 15px 15px;
    overflow: hidden;

    &:first-child {
      margin: 0 0 15px;
    }

    i {
      font-size: 22px;
    }
  }
}