// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';
$logo-width: 150px;
$logo-compact-width: 33px;
$hamburger-width: 45px;
$side-head-compact-width: 65px; // header

#preheader {
  height: $header-smartphone-height;
}

#header {
  height: $header-smartphone-height;
  opacity: 1;
  pointer-events: all;

  .header-first-stripe {
    height: auto;
    @include define-basic-transition(all, 0.15s);
  }

  &.compact {
    height: $header-smartphone-height-compact;

    .header-first-stripe {
      opacity: 0;
      pointer-events: none;
      height: 0;
    }

    #header-structure {
      margin: 7px 0 0;

      .logo {
        height: 45px;

        &:before {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }
    }
  }

  #header-structure {
    width: 100%;
    margin: 14px 0 0;
    @include define-basic-transition(all, 0.15s);

    .logo {
      width: $logo-width;
      height: 70px;
      @include define-basic-transition(all, 0.15s);

      &:before {
        top: 0;
        left: 0;
        height: 100%;
        background-image: url("assets/images/site-logo-header.svg");
        opacity: 1;
      }

      &:after {
        top: 0;
        left: 0;
        height: 100%;
        background-image: url("assets/images/site-logo-header.svg");
        opacity: 0;
      }
    }

    .menu {
      display: none;
    }

    .side-head {
      width: calc(100% - #{$logo-width});
      text-align: right;

      ul {
        width: 100%;

        li {
          position: relative;
          display: inline-block;
          margin: 0;

          &.hamb-menu {
            width: 30px;
            height: 30px;

            .hambuger-element {
              position: absolute;
              left: 0;
              top: 5px;
            }
          }

          &.search-menu {
            width: 30px;
            height: 30px;
            margin-right: 25px;
          }
        }
      }

      .activate-search {
        position: absolute;
        left: 0;
        top: 2px;
        width: 30px;
        height: 30px;
        color: $color-12;
        overflow: hidden;
        margin: 0 !important;
        padding: 0 !important;

        .lablel {
          display: none;
        }

        .icon-hold {
          position: absolute;
          right: 0;
          top: 0;
          width: 30px;
          height: 30px;
          background-color: $color-8;
          @include define-border-radius(30px);
          overflow: hidden;

          span {
            position: relative;
            top: 6px;
            color: $color-4;
            font-size: 20px;
          }
        }
      }

      .header-social {
        display: none;
      }
    }
  }

  .header-menu-top {
    margin: 10px 0;

    li {
      display: inline-block;
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

#header-compact {
  display: none;
}

#search-overlay {
  top: 0;
  height: 100vh;

  .search-overlay-structure {
    padding: 10px 0 0;
  }
}

#head-overlay {
  top: $header-smartphone-height-compact;
  height: calc(100vh - #{$header-smartphone-height-compact});

  .menu {
    width: 100%;

    ul {
      margin-top: 30px;

      &:first-child {
        margin-bottom: 60px;
      }

      li {
        margin-bottom: 15px;
        border-bottom: $color-2 solid 1px;
        padding-bottom: 15px !important;
      }
    }

    .overlay-menu-mobile-css {
      width: 100%;

      li {
        position: relative;
        display: block;
        text-align: left;

        a {
          display: block;
          width: calc(100% - (#{$wrapper-padded-smartphone} * 2));
          padding: 20px $wrapper-padded-smartphone 20px calc(#{$wrapper-padded-smartphone} - 15px);
        }

        &.menu-item-has-children {
          a {
            &:after {
              position: absolute;
              right: 0;
              top: 20px;
              content: "▼";
              font-size: 15px;
              margin-right: $wrapper-padded-smartphone;
            }
          }
        }
      }

      .current-page-ancestor,
      .current_page_item {}

      .sub-menu {
        display: none;

        li {
          width: 100%;

          &:last-child {
            border-bottom: none;
            padding: 0;
            margin: 0;
          }

          a {
            display: block;
            width: calc(100% - (#{$wrapper-padded-smartphone} * 2));
            padding: 20px $wrapper-padded-smartphone;

            &:after {
              content: "";
            }
          }
        }
      }
    }
  }

  .inline-socials {
    margin-top: 60px;
  }

  .footer-block-2 {
    margin-top: 60px;
    padding-top: 30px;
    border-top: solid 1px $color-9;
  }
}

.occupy-scrollbar {
  width: calc(100% - 18px);
}

.scroll-opportunity {
  height: calc(100vh - #{$header-smartphone-height-compact});
}
// footer

#footer {
  padding-top: 45px;
  padding-bottom: 0;

  .footer-block-1 {
    border-bottom: solid 1px $color-9;
    margin-bottom: 30px;
  }

  .footer-menu {
    li {
      margin-bottom: 15px;
    }
  }

  .footer-menu-bottom {
    margin: 30px 0 10px;

    li {
      display: inline-block;
      margin: 0 30px 20px 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}