// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';
$side-navi-width: 130px;
$logo-compact-width: 33px;
$hamburger-width: 45px;
$side-head-compact-width: 65px; // header

#preheader {
  height: $header-smartphone-height;
}

#header {
  height: $header-smartphone-height;
  opacity: 1;
  pointer-events: all;

  .header-first-stripe {
    height: auto;
    @include define-basic-transition(all, 0.15s);
  }

  &.compact {
    height: $header-smartphone-height-compact;

    .header-first-stripe {
      opacity: 0;
      pointer-events: none;
      height: 0;
    }

    #header-structure {
      margin: rem(5) 0 0;

      .logo {
        height: calc(#{$header-smartphone-height-compact} - rem(10));

        &:before {
          opacity: 0;
          background-color: red;
        }

        &:after {
          opacity: 1;
          top: rem(10);
          height: calc(100% - rem(10));
        }
      }
    }
  }

  #header-structure {
    width: 100%;
    margin: rem(14) 0 0;
    @include define-basic-transition(all, 0.15s);

    .logo {
      width: calc(100% - #{$side-navi-width});
      height: calc(#{$header-smartphone-height-compact} - rem(10));

      &:before {
        top: 0;
        left: 0;
        height: 100%;
        background-image: url("assets/images/site-logo-header.svg");
        opacity: 1;
      }

      &:after {
        top: 0;
        left: 0;
        height: 100%;
        background-image: url("assets/images/site-logo-header.svg");
        opacity: 0;
      }
    }

    .menu {
      display: none;
    }

    .side-head {
      width: $side-navi-width;
      text-align: right;

      ul {
        width: 100%;

        li {
          position: relative;
          display: inline-block;
          margin: 0;

          &.hamb-menu {
            width: rem(30);
            height: rem(30);

            .hambuger-element {
              position: absolute;
              left: 0;
              top: rem(-2);
            }
          }

          &.search-menu {
            width: rem(48);
            height: rem(48);
            margin-right: rem(5);
          }
        }
      }

      .activate-search {
        position: absolute;
        left: 0;
        top: rem(8);
        width: rem(36);
        height: rem(36);
        color: $color-12;
        overflow: hidden;
        margin: 0 !important;
        padding: 0 !important;

        .lablel {
          display: none;
        }

        .icon-hold {
          position: absolute;
          right: 0;
          top: 0;
          width: rem(36);
          height: rem(36);
          background-color: $color-8;
          @include define-border-radius(rem(36));
          overflow: hidden;

          span {
            position: relative;
            top: rem(8);
            color: $color-4;
            font-size: rem(20);
          }
        }
      }

      .header-social {
        display: none;
      }
    }
  }

  .header-menu-top {
    margin: rem(10) 0;

    li {
      display: inline-block;
      margin-right: rem(30);

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

#header-compact {
  display: none;
}

#search-overlay {
  top: 0;
  height: 100vh;

  .search-overlay-structure {
    padding: rem(10) 0 0;

    .search-overlay-title {
      right: -10px;
    }
  }
}

#head-overlay {
  top: $header-smartphone-height-compact;
  height: calc(100vh - #{$header-smartphone-height-compact});

  .menu {
    width: 100%;

    ul {
      margin-top: rem(30);

      &:first-child {
        margin-bottom: rem(60);
      }

      li {
        margin-bottom: rem(15);
        border-bottom: $color-2 solid rem(1);
        padding-bottom: rem(15) !important;
      }
    }

    .overlay-menu-mobile-css {
      width: 100%;

      li {
        position: relative;
        display: block;
        text-align: left;

        a {
          display: block;
          width: calc(100% - (#{$wrapper-padded-smartphone} * 2));
          padding: rem(20) $wrapper-padded-smartphone rem(20) calc(#{$wrapper-padded-smartphone} - rem(15));
        }

        &.menu-item-has-children {
          a {
            &:after {
              position: absolute;
              right: 0;
              top: rem(20);
              content: "▼";
              font-size: rem(15);
              margin-right: $wrapper-padded-smartphone;
            }
          }
        }
      }

      .current-page-ancestor,
      .current_page_item {}

      .sub-menu {
        display: none;

        li {
          width: 100%;

          &:last-child {
            border-bottom: none;
            padding: 0;
            margin: 0;
          }

          a {
            display: block;
            width: calc(100% - (#{$wrapper-padded-smartphone} * 2));
            padding: 20px $wrapper-padded-smartphone;

            &:after {
              content: "";
            }
          }
        }
      }
    }
  }

  .inline-socials {
    margin-top: rem(10);
  }

  .footer-block-2 {
    margin-top: rem(60);
    padding-top: rem(30);
    border-top: solid rem(1) $color-9;
  }
}

.occupy-scrollbar {
  width: calc(100% - rem(18));
}

.scroll-opportunity {
  height: calc(100vh - #{$header-smartphone-height-compact});

  .wrapper {
    margin-bottom: rem(100);
  }
}

// footer

#footer {
  padding-top: rem(45);
  padding-bottom: 0;

  .footer-block-1 {
    border-bottom: solid rem(1) $color-9;
    margin-bottom: rem(30);
  }

  .footer-menu {
    li {
      margin-bottom: rem(15);
    }
  }

  .footer-menu-bottom {
    margin: rem(30) 0 rem(10);

    li {
      display: inline-block;
      margin: 0 rem(30) rem(20) 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}