// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';
$logo-width: 200px;
$hamburger-width: 45px; // header

#preheader {
  height: $header-smartphone-height;
}

#header {
  height: $header-smartphone-height;

  &.hidden {
    top: -$header-smartphone-height;
  }
}

.occupy-scrollbar {
  width: 100% !important;
}

.scroll-opportunity {
  width: 100%;
  height: calc(100vh - #{$header-smartphone-height});
}

#head-overlay {
  top: $header-smartphone-height;
  width: 100%;
  height: calc(100vh - #{$header-smartphone-height});

  .menu {
    width: 100%;

    .overlay-menu-mobile-css {
      width: 100%;

      li {
        position: relative;
        display: block;
        text-align: left;

        a {
          display: block;
          width: calc(100% - (#{$wrapper-padded-smartphone} * 2));
          padding: 20px $wrapper-padded-smartphone 20px calc(#{$wrapper-padded-smartphone} - 15px);
        }

        &.menu-item-has-children {
          a {
            &:after {
              position: absolute;
              right: 0;
              top: 20px;
              content: "▼";
              font-size: 15px;
              margin-right: $wrapper-padded-smartphone;
            }
          }
        }
      }

      .current-page-ancestor,
      .current_page_item {}

      .sub-menu {
        display: none;

        li {
          width: 100%;

          &:last-child {
            border-bottom: none;
            padding: 0;
            margin: 0;
          }

          a {
            display: block;
            width: calc(100% - (#{$wrapper-padded-smartphone} * 2));
            padding: 20px $wrapper-padded-smartphone;

            &:after {
              content: "";
            }
          }
        }
      }
    }
  }

  .inline-socials {
    margin-top: 20px;
  }
}

#header-structure {
  width: 100%;
  height: $header-smartphone-height;

  .logo {
    width: $logo-width;
    height: $header-smartphone-height;

    &:before {
      top: 10px;
      left: 0;
      height: calc(100% - 20px);
    }
  }

  .menu {
    display: none;
  }

  .side-head {
    width: calc(100% - #{$logo-width});
    text-align: right;

    ul {
      width: 100%;

      li {
        text-align: center !important;
        display: inline-block;
        margin: 0 2%;
      }

      li:last-child {
        margin-right: 0;
      }
    }
  }
}

.mega-menu {
  display: none;
}
// footer

#footer {}