// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

.modules-wrapper,
.page-index-right {
	.wp-caption.aligncenter,
	.wp-caption.alignleft,
	.wp-caption.alignnone,
	.wp-caption.alignright {
		position: relative;
		left: -24px;
		width: calc(100% + 48px) !important;
		margin-bottom: calc(#{$paragraph-marginbottom-desktop} * 2);
	}
}

.wp-caption.aligncenter,
.wp-caption.alignnone {
	margin-bottom: 15px;
}

.wp-caption-text,
.wp-caption.aligncenter .wp-caption-text,
.wp-caption.alignleft .wp-caption-text,
.wp-caption.alignnone .wp-caption-text,
.wp-caption.alignright .wp-caption-text {
	padding: 15px;
	background-color: $color-8;
	text-align: left;
}