// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

.modules-wrapper,
.page-index-right {

	.wp-caption.aligncenter,
	.wp-caption.alignleft,
	.wp-caption.alignnone,
	.wp-caption.alignright {
		position: relative;
		left: rem(-24);
		width: calc(100% + rem(48)) !important;
		margin-bottom: calc(#{rem($paragraph-marginbottom-desktop)} * 2);
	}
}

.wp-caption.aligncenter,
.wp-caption.alignnone {
	margin-bottom: rem(15);
}

.wp-caption-text,
.wp-caption.aligncenter .wp-caption-text,
.wp-caption.alignleft .wp-caption-text,
.wp-caption.alignnone .wp-caption-text,
.wp-caption.alignright .wp-caption-text {
	padding: rem(15);
	background-color: $color-8;
	text-align: left;
}