// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

.modules-handler {}

.page-opening {}

.page-opening-simple-spacer {
  padding: rem(72) 0 rem(48);

  .cta-holder {
    margin: rem(35) 0 0;
  }
}

.opening-text-image {
  .cta-holder {
    margin: rem(32) 0 0;
  }
}

.breadcrumbs-holder {
  margin-bottom: rem(32);
}

.categories-holder {
  margin: rem(32) 0 0;

  a {
    margin: 0 rem(16);

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.module-spacer {
  padding: rem(72) 0;
}

.sticky-element {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  @include define-basic-transition(all, 0.2s);
}

.expandable-content {
  padding-top: rem(35);
}

.module-dati-progetto {
  .module-dati-progetto-string {
    position: relative;
    display: block;
    width: 100%;
    padding: rem(10) 0;
    border-bottom: solid rem(1) $color-13;
    @include flex-wrap;
    font-size: rem($paragraph-size-desktop);
    line-height: rem($paragraph-lineheight-desktop);


    .label {
      width: 100%;
      color: $color-2;
      font-weight: $font-weight-2;
    }

    .data {
      width: 100%;
      font-family: $font-sub;
    }
  }
}