// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

.modules-wrapper,
.page-index-right {
  .slide-module {
    position: relative;
    left: -24px;
    width: calc(100% + 48px) !important;
    margin-bottom: calc(#{$paragraph-marginbottom-desktop} * 2);
  }
}

.slide-one {
  background-color: $color-8;

  .image-holder {
    position: relative;
    width: 100vw;
    height: 85vw;
    background-color: $color-12;

    img {
      width: 100vw;
      height: 85vw;
      -o-object-fit: contain;
      object-fit: contain;
      -o-object-position: 50% 50%;
      object-position: 50% 50%;
    }
  }

  .slick-next,
  .slick-prev {
    position: absolute;
    font-size: 30px;
  }

  .slick-prev {
    left: 15px;
    bottom: 3px;
  }

  .slick-next {
    left: 55px;
    bottom: 4px;
  }

  .wp-caption-text {
    padding-left: 100px;
    background-color: $color-8;
  }

  .wp-caption-text-fake {
    height: 50px;
    background-color: $color-12;
  }
}

.slide-four {
  position: relative;
  left: -24px;
  width: calc(100% + 48px);
  margin-bottom: 80px;
  //padding-bottom: 78px;
  .slick-track {
    min-width: 100% !important;
  }

  .slick-list {
    padding: 8px;
  }

  .slick-slide {
    //width: 90vw !important;
    .card {
      min-height: 350px;
    }
  }

  .slick-next,
  .slick-prev {
    display: none !important;
  }
}

.single-slide {
  .card {
    position: relative;
    width: calc(35% + 8px);
    left: -8px;

    .card_inner {
      &.regular-card {
        padding: 20px 28px 35px 20px;
      }
    }
  }
}

.slide-caption {
  margin-top: 20px;
}
// navigation

.slick-arrow {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  border: none;
  background-color: transparent;
  margin-top: -5px;
}

.slick-dots {
  text-align: center;
  padding: 15px 0 0 0 !important;

  li {
    display: inline-block;
    margin: 0 5px;

    button {
      width: 20px;
      height: 20px;
      border: none;
      //background-color: $color-4;
      border: solid 1px $color-4;
      font-size: 0;
      margin: 0;
      padding: 0;
      @include define-basic-transition(all, 0.3s);
      @include define-border-radius(20px);
      cursor: pointer;

      &:hover {
        background-color: $color-4;
      }
    }

    &.slick-active {
      button {
        background-color: $color-4;
      }
    }
  }
}

.paging-info {
  position: relative;
  display: block;
  width: 100%;
  padding: 10px 0 0;
  text-align: center;
}