// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

.modules-wrapper,
.page-index-right {
  .slide-module {
    position: relative;
    left: rem(-24);
    width: calc(100% + rem(48)) !important;
    margin-bottom: calc(#{rem($paragraph-marginbottom-desktop)} * 2);
  }
}

.slide-one {
  background-color: $color-8;

  .image-holder {
    position: relative;
    width: 100vw;
    height: 85vw;
    background-color: $color-12;

    img {
      width: 100vw;
      height: 85vw;
      -o-object-fit: contain;
      object-fit: contain;
      -o-object-position: 50% 50%;
      object-position: 50% 50%;
    }
  }

  .slick-next,
  .slick-prev {
    position: absolute;
    font-size: rem(60);
  }

  .slick-prev {
    left: rem(15);
    bottom: rem(3);
  }

  .slick-next {
    left: rem(55);
    bottom: rem(4);
  }

  .wp-caption-text {
    padding-left: rem(100);
    background-color: $color-8;
  }

  .wp-caption-text-fake {
    height: rem(50);
    background-color: $color-12;
  }
}

.slide-four {
  position: relative;
  left: rem(-24);
  width: calc(100% + rem(48));
  margin-bottom: rem(80);

  .slick-next,
  .slick-prev {
    position: absolute;
    font-size: rem(30);
  }

  .slick-prev {
    left: rem(15);
    bottom: rem(-45);
  }

  .slick-next {
    left: rem(55);
    bottom: rem(-44);
  }

  //padding-bottom: 78px;
  .slick-track {
    min-width: 100% !important;
  }

  .slick-list {
    padding: rem(8);
  }

  .slick-slide {

    //width: 90vw !important;
    .card {
      min-height: rem(350);
    }
  }

  .slick-next,
  .slick-prev {
    //display: none !important;
  }
}

.single-slide {
  .card {
    position: relative;
    width: calc(35% + rem(8));
    left: rem(-8);

    .card_inner {
      &.regular-card {
        padding: rem(20) rem(28) rem(35) rem(20);
      }
    }
  }
}

.slide-caption {
  margin-top: rem(20);
}

// navigation

.slick-arrow {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  border: none;
  background-color: transparent;
  margin-top: rem(-5);
}

.slick-dots {
  text-align: center;
  padding: rem(15) 0 0 0 !important;

  li {
    display: inline-block;
    margin: 0 rem(5);

    button {
      width: rem(20);
      height: rem(20);
      border: none;
      //background-color: $color-4;
      border: solid rem(1) $color-4;
      font-size: 0;
      margin: 0;
      padding: 0;
      @include define-basic-transition(all, 0.3s);
      @include define-border-radius(rem(20));
      cursor: pointer;

      &:hover {
        background-color: $color-4;
      }
    }

    &.slick-active {
      button {
        background-color: $color-4;
      }
    }
  }
}

.paging-info {
  position: relative;
  display: block;
  width: 100%;
  padding: rem(10) 0 0;
  text-align: center;
}