// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';
@import '../global/typo';

.aligncenter-notmobile {
  text-align: left !important;
}

.as-h1,
.search-overlay-title,
h1 {
  font-size: rem($h1-size-smartphone);
  line-height: rem($h1-lineheight-smartphone);
  margin-bottom: rem($h1-marginbottom-smartphone);
}

.as-h2,
h2 {
  font-size: rem($h2-size-smartphone);
  line-height: rem($h2-lineheight-smartphone);
  margin-bottom: rem($h2-marginbottom-smartphone);
}

.people-card {
  h2 {
    margin-bottom: rem(12);
  }
}

.as-h3,
h3 {
  font-size: rem($h3-size-smartphone);
  line-height: rem($h3-lineheight-smartphone);
  margin-bottom: rem($h3-marginbottom-smartphone);
}

.header-menu-mobile {
  font-size: rem($h3-size-smartphone);
  line-height: rem($h3-lineheight-smartphone);
}

.as-h4,
.content-styled h2,
.content-styled h3,
.h2-variant,
.h3-variant,
h4 {
  font-size: rem($h4-size-smartphone);
  line-height: rem($h4-lineheight-smartphone);
  margin-bottom: rem($h4-marginbottom-smartphone);
}

.content-styled h4,
.h4-variant {
  font-size: rem($h4-size-variant-smartphone);
  line-height: rem($h4-lineheight-variant-smartphone);
  margin-bottom: rem($h4-marginbottom-variant-smartphone);
}

.h2-as-h5 h2,
.as-h5,
.button-typo-normalizer,
.card p,
.footer-menu,
.page-opening-menu,
.paragraph-variant,
.paragraph-variant-holder p,
h5 {
  font-size: rem($h5-size-smartphone);
  line-height: rem($h5-lineheight-smartphone);
  margin-bottom: rem($h5-marginbottom-smartphone);
}

#footer {
  h5 {
    margin-bottom: rem(20);
  }
}

.head-navi-side,
.index-listing,
.inner-news-listing {
  font-size: rem($h5-size-smartphone);
  line-height: rem($h5-lineheight-smartphone);
  margin-bottom: 0;
}

.arrow-button,
h6 {
  font-size: rem($h6-size-smartphone);
  line-height: rem($h6-lineheight-smartphone);
  margin-bottom: rem($h6-marginbottom-smartphone);
  letter-spacing: rem(1);
}

.as-h6 {
  font-size: rem($h6-size-smartphone) !important;
  line-height: rem($h6-lineheight-smartphone) !important;
  margin-bottom: rem($h6-marginbottom-smartphone) !important;
  letter-spacing: rem(1) !important;
}

.tag-button {
  font-size: rem($h6-size-smartphone);
  line-height: rem($h6-lineheight-smartphone);
  margin-bottom: 0;
  padding: rem(3) rem(16);
}

.alternate-h6 {
  font-size: rem($h6-size-smartphone);
  line-height: rem($h6-lineheight-smartphone);
  margin-bottom: rem($h5-marginbottom-smartphone);
  color: $color-1;
  letter-spacing: normal;
}

.breadcrumbs-holder {
  font-size: rem($h6-size-smartphone);
  line-height: rem($h6-lineheight-smartphone);
}

.wp-caption-text,
.wp-caption.aligncenter .wp-caption-text,
.wp-caption.alignleft .wp-caption-text,
.wp-caption.alignnone .wp-caption-text,
.wp-caption.alignright .wp-caption-text {
  font-size: rem($h6-size-smartphone);
  line-height: rem($h6-lineheight-smartphone);
}

.index-menu-expander {
  font-size: rem($h6-size-smartphone);
  line-height: rem($h6-lineheight-smartphone);
  font-weight: $font-weight-3;
}

.square-button {
  letter-spacing: rem(1);
}

.as-p,
.activate-search,
p {
  font-size: rem($paragraph-size-smartphone);
  line-height: rem($paragraph-lineheight-smartphone);
  margin: 0 0 rem($paragraph-marginbottom-smartphone);
  padding: 0;
}

.square-button,
small {
  font-size: rem($small-size-smartphone);
  line-height: rem($small-lineheight-smartphone);
}

.navi {
  font-size: rem($cta1-size-smartphone);
  line-height: rem($cta1-lineheight-smartphone);
}

.content-styled,
.content-styled-card {
  h6 {
    margin: 0 0 rem($paragraph-marginbottom-smartphone);
  }

  ul {
    font-size: rem($paragraph-size-smartphone);
    line-height: rem($paragraph-lineheight-smartphone);
    margin-bottom: rem($paragraph-marginbottom-smartphone);

    li {
      display: table-row;

      &:before {
        font-size: rem(20);
        font-weight: $font-weight-1;
      }
    }
  }

  ol {
    font-size: rem($paragraph-size-smartphone);
    line-height: rem($paragraph-lineheight-smartphone);
    margin-bottom: rem($paragraph-marginbottom-smartphone);
  }

  ol>li {
    &:before {
      font-family: $font-main;
      font-size: rem($paragraph-size-smartphone);
    }
  }
}

.page-opening-menu {
  margin-top: rem(10);

  div {
    display: none;
  }

  li {
    margin-bottom: rem(10);

    &.hidden {
      visibility: hidden;
      display: none;
    }
  }
}

.share-actions {
  font-size: rem($small-size-smartphone);
  line-height: rem($small-lineheight-smartphone);

  li {
    margin-bottom: rem(10);

    &:last-child {
      margin-bottom: 0;
    }

    span {
      position: relative;
      top: rem(4);
      margin-right: rem(10);
      font-size: rem(22);
    }
  }
}

.index-menu-js {
  &.hidden {
    visibility: hidden;
  }
}

.index-listing {
  padding: 0 0 rem(30);
  margin-top: rem(20);
  border-bottom: solid rem(1) $color-10;

  li {
    margin-bottom: rem(10);
  }
}

.expander {
  font-family: $font-main;
  font-weight: $font-weight-1;
  font-size: rem($h4-size-smartphone);
  line-height: rem($h4-lineheight-smartphone);
}

.index-menu-expander {
  position: relative;
  width: 100%;
  padding: rem(35) 0 rem(20);
  border-bottom: solid rem(5) $color-11;
  text-align: left;

  span {
    position: relative;
    top: rem(-10);
    float: right;
    font-size: rem(30);
    color: $color-4;
  }
}

.eraser-btn {
  margin: rem(10) 0 0;
}

.order-results {
  margin: rem(10) 0 0;
  width: 100%;
}

.header-first-stripe {
  font-size: rem($h6-size-smartphone);
  line-height: rem($h6-lineheight-smartphone);
}