// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

.search-overlay-title,
h1 {
  font-size: $h1-size-smartphone;
  line-height: $h1-lineheight-smartphone;
  margin-bottom: $h1-marginbottom-smartphone;
}

h2 {
  font-size: $h2-size-smartphone;
  line-height: $h2-lineheight-smartphone;
  margin-bottom: $h2-marginbottom-smartphone;
}

.people-card {
  h2 {
    margin-bottom: 12px;
  }
}

h3 {
  font-size: $h3-size-smartphone;
  line-height: $h3-lineheight-smartphone;
  margin-bottom: $h3-marginbottom-smartphone;
}

.header-menu-mobile {
  font-size: $h3-size-smartphone;
  line-height: $h3-lineheight-smartphone;
}

.content-styled h2,
.content-styled h3,
.h2-variant,
.h3-variant,
h4 {
  font-size: $h4-size-smartphone;
  line-height: $h4-lineheight-smartphone;
  margin-bottom: $h4-marginbottom-smartphone;
}

.content-styled h4,
.h4-variant {
  font-size: $h4-size-variant-smartphone;
  line-height: $h4-lineheight-variant-smartphone;
  margin-bottom: $h4-marginbottom-variant-smartphone;
}

.button-typo-normalizer,
.card p,
.footer-menu,
.page-opening-menu,
.paragraph-variant,
.paragraph-variant-holder p,
.tag-button,
h5 {
  font-size: $h5-size-smartphone;
  line-height: $h5-lineheight-smartphone;
  margin-bottom: $h5-marginbottom-smartphone;
}

#footer {
  h5 {
    margin-bottom: 20px;
  }
}

.head-navi-side,
.index-listing,
.inner-news-listing {
  font-size: $h5-size-smartphone;
  line-height: $h5-lineheight-smartphone;
  margin-bottom: 0;
}

.arrow-button,
h6 {
  font-size: $h6-size-smartphone;
  line-height: $h6-lineheight-smartphone;
  margin-bottom: $h6-marginbottom-smartphone;
  letter-spacing: 1px;
}

.alternate-h6 {
  font-size: $h6-size-smartphone;
  line-height: $h6-lineheight-smartphone;
  margin-bottom: $h5-marginbottom-smartphone;
  color: $color-1;
  letter-spacing: normal;
}

.breadcrumbs-holder {
  font-size: $h6-size-smartphone;
  line-height: $h6-lineheight-smartphone;
  margin-bottom: $h6-marginbottom-smartphone;
}

.wp-caption-text,
.wp-caption.aligncenter .wp-caption-text,
.wp-caption.alignleft .wp-caption-text,
.wp-caption.alignnone .wp-caption-text,
.wp-caption.alignright .wp-caption-text {
  font-size: $h6-size-smartphone;
  line-height: $h6-lineheight-smartphone;
}

.index-menu-expander {
  font-size: $h6-size-smartphone;
  line-height: $h6-lineheight-smartphone;
  font-weight: $font-weight-3;
}

.square-button {
  letter-spacing: 1px;
}

.activate-search,
p {
  font-size: $paragraph-size-smartphone;
  line-height: $paragraph-lineheight-smartphone;
  margin: 0 0 $paragraph-marginbottom-smartphone;
  padding: 0;
}

.square-button,
small {
  font-size: $small-size-smartphone;
  line-height: $small-lineheight-smartphone;
}

.navi {
  font-size: $cta1-size-smartphone;
  line-height: $cta1-lineheight-smartphone;
}

.content-styled {
  h6 {
    margin: 0 0 $paragraph-marginbottom-smartphone;
  }

  ul {
    font-size: $paragraph-size-smartphone;
    line-height: $paragraph-lineheight-smartphone;
    margin-bottom: $paragraph-marginbottom-smartphone;

    li {
      display: table-row;

      &:before {
        font-size: 20px;
        font-weight: $font-weight-1;
      }
    }
  }

  ol {
    font-size: $paragraph-size-smartphone;
    line-height: $paragraph-lineheight-smartphone;
    margin-bottom: $paragraph-marginbottom-smartphone;
  }

  ol > li {
    &:before {
      font-family: $font-main;
      font-size: $paragraph-size-smartphone;
    }
  }
}

.page-opening-menu {
  div {
    display: none;
  }

  li {
    margin-bottom: 10px;
  }
}

.share-actions {
  font-size: $small-size-smartphone;
  line-height: $small-lineheight-smartphone;

  li {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    span {
      position: relative;
      top: 4px;
      margin-right: 10px;
      font-size: 22px;
    }
  }
}

.index-listing {
  padding: 0 0 30px;
  margin-top: 20px;
  border-bottom: solid 1px $color-10;

  li {
    margin-bottom: 10px;
  }
}

.expander {
  font-family: $font-main;
  font-weight: $font-weight-1;
  font-size: $h4-size-smartphone;
  line-height: $h4-lineheight-smartphone;
}

.index-menu-expander {
  position: relative;
  width: 100%;
  padding: 35px 0 20px;
  border-bottom: solid 5px $color-11;
  text-align: left;

  span {
    position: relative;
    top: -10px;
    float: right;
    font-size: 30px;
    color: $color-4;
  }
}

.eraser-btn {
  margin: 10px 0 0;
}

.order-results {
  margin: 10px 0 0;
  width: 100%;
}