// main: ../style.scss
@import '../global/vars';
@import '../global/mixin'; // forms

label {
	font-size: rem($h5-size-desktop);
	line-height: rem($h5-lineheight-desktop);
}

.banner-form {

	input[type=date],
	input[type=email],
	input[type=number],
	input[type=tel],
	input[type=text] {
		font-size: rem($h5-size-desktop);
		line-height: rem($h5-lineheight-desktop);
		margin-bottom: rem(15);
	}
}

.overlay-form {

	input[type=date],
	input[type=email],
	input[type=number],
	input[type=tel],
	input[type=text] {
		font-size: rem($h3-size-desktop);
		line-height: rem($h3-lineheight-desktop);
		margin-bottom: rem(15);
	}

	.search-submit {
		span {
			font-size: rem($h3-size-desktop);
			line-height: rem($h3-lineheight-desktop);
		}
	}
}

.form-hold {
	margin: rem(10) 0;

	label {
		font-size: rem($h5-size-desktop);
		line-height: rem($h5-lineheight-desktop);
	}

	input[type=date],
	input[type=email],
	input[type=number],
	input[type=tel],
	input[type=text] {
		font-size: rem($h5-size-desktop);
		line-height: rem($h5-lineheight-desktop);
	}

	textarea {
		font-size: rem($h5-size-desktop);
		line-height: rem($h5-lineheight-desktop);
	}

	select {
		font-size: rem($h5-size-desktop);
		line-height: rem($h5-lineheight-desktop);
	}

	input[type=submit] {
		font-size: rem($paragraph-size-desktop);
		font-weight: $font-weight-3;
	}
}

.search-column {
	max-height: calc(100dvh - rem(500));
	overflow-y: auto;
	padding-bottom: 50px;


	.filters-submit-hold {
		position: absolute;
		bottom: 0;
		left: 0;
		width: calc(100% - rem(18));
		background-color: $color-12;

		button {
			width: 100%;
		}
	}
}