// main: ../style.scss
@import '../global/vars';
@import '../global/mixin'; // wrappers and more

.mobile-only {
  display: none !important;
}

.wrapper-padded {
  width: calc(100% - (#{$wrapper-padded-desktop} * 2));
  padding: 0 $wrapper-padded-desktop;
}

.wrapper-padded-more {
  max-width: rem(1185);
}

.wrapper-padded-intro {
  max-width: rem(1125);
}

.wrapper-padded-more-924 {
  max-width: rem(924);
}

.wrapper-padded-more-780 {
  max-width: rem(780);
}

.wrapper-padded-more-650 {
  max-width: rem(650);
}

.wrapper-padded-more-500 {
  max-width: rem(500);
}

.modules-wrapper {
  .padder {
    padding: rem(55) rem(45) rem(85);
  }
}

.inpage-searchform {
  margin-top: rem(60);
}

.page-opening-padder {
  padding: rem(40) rem(0) rem(110);
}

.avviso-padder,
.avviso-top-padder,
.single-content-opening-padder {
  padding: rem(40) 0 rem(10);
}

.avviso-padder {
  h3 {
    padding-left: rem(30);
  }
}

.intro-search-results-padder {
  margin: 0 0 rem(30);

  .flex-hold-child {
    .eraser-btn {
      display: inline-block;
      margin: 0 0 0 rem(20);
    }
  }

  .flex-hold-child:nth-child(2n) {
    text-align: right;
  }
}

.intro-news-padder {
  padding: rem(15) rem(65) 0 rem(30);
}

.tags-holder {
  width: 100%;
  margin: rem(30) 0 rem(10);

  li {
    display: inline-block;
    margin-right: rem(15);
    margin-bottom: rem(20);
  }
}

.listing-module {
  .tags-holder {
    margin: rem(10) 0;
  }
}

.intro-box {
  margin: 0 0 rem(40);

  &.card {
    border-radius: 0;
    box-shadow: none;
  }
}

.intro-news-padder {
  .category-holder {
    margin-bottom: rem(20);
  }
}

.wrapper-step {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: rem(50);
}

.wrapper-step-image {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: rem(300);
}

.highlight-box {
  margin: rem(60) 0 0;
}

.thematic-box {
  margin: rem(60) 0;
}

.search-banner {
  margin: rem(110) 0;
}

.listing-box {
  margin: rem(60) 0 rem(40);
}

.tag-box {
  margin: rem(60) 0 rem(90);
}

.module-separator {
  margin-bottom: rem(35);
}

.module-separator-flex {
  margin-bottom: rem(16);
}

.scadenze-wrapper {
  margin-top: rem(40);
}

.data-holder {
  margin: rem(20) 0 rem(40);
}

// flex boxes
// per calcolare la larghezza degli elementi flex:
// valore margin right - (valore margin right / numero elmenti per riga)
// es. 16 - (16/2) = 8

.grid-separator-1 {
  margin: 0 0 rem(54);
}

.grid-separator-2 {
  margin: rem(40) 0 0;
}

.opening-child-right {
  .flex-hold-child:nth-child(2n) {
    text-align: right;
  }
}

.flex-hold-single {
  .flex-hold-child {
    margin: 0 0 rem(36);
  }

  .people-card {
    width: calc(50% - rem(18)) !important;
    margin: 0 rem(36) rem(36) 0;
  }
}

.flex-hold-2 {
  &.margins-thin {
    .flex-hold-child {
      width: calc(50% - rem(36)) !important;
      margin: 0 rem(72) rem(24) 0;
    }

    .flex-hold-child:nth-child(2n) {
      margin-right: 0;
    }
  }

  &.margins-wide {
    .flex-hold-child {
      width: calc(50% - rem(18)) !important;
      margin: 0 rem(36) rem(36) 0;
    }

    .flex-hold-child:nth-child(2n) {
      margin-right: 0;
    }
  }

  &.margins-fit {
    .flex-hold-child {
      width: 50%;
    }
  }
}

.flex-hold-page-opening {
  margin-top: rem(60);

  .page-opening-left {
    order: 1;
    width: 60%;

    .banner-form {
      margin-top: rem(30);
    }

    .card {
      margin-top: rem(30);
    }
  }

  .page-opening-right {
    order: 2;
    width: 40%;

    .padder {
      padding-left: rem(160);

      .card {
        margin-top: rem(20);
      }
    }

    .tags-holder {
      margin-top: rem(10);
    }
  }
}

.flex-hold-page-index {
  margin-top: rem(30);
  border-top: solid rem(1) $color-10;

  .page-index-left {
    order: 1;
    width: rem(350);

    .sticky-element-compact {
      top: $header-desktop-height-compact;
    }

    .sticky-element-expanded {
      top: $header-desktop-height;
    }
  }

  .page-index-right {
    order: 2;
    width: calc(100% - rem(351));
    border-left: solid rem(1) $color-10;

    .padder {
      padding: rem(55) rem(45) rem(85);
    }
  }
}

.flex-hold-avviso {
  .avviso-left {
    order: 1;
    width: calc(100% - rem(490));

    .padder {
      padding: 0 rem(40) 0 0;

      h2,
      h3 {
        padding-left: rem(30);
      }
    }
  }

  .avviso-right {
    position: relative;
    order: 2;
    width: rem(490);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    .avviso-shadow {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 50%;
      height: 100%;
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1a4d78+0,1a4d78+100&1+0,0+100 */
      background: -moz-linear-gradient(left, rgba(26, 77, 120, 1) 0%, rgba(26, 77, 120, 0) 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(left, rgba(26, 77, 120, 1) 0%, rgba(26, 77, 120, 0) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, rgba(26, 77, 120, 1) 0%, rgba(26, 77, 120, 0) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
  }
}

.chiudi-avviso {
  position: absolute;
  left: rem(-15);
  top: rem(45);
  color: $color-11;

  span {
    font-size: rem(28);
  }
}

.flex-hold-search-page {
  margin-top: rem(30);
  padding-top: rem(60);

  //border-top: solid 1px $color-10;
  .search-page-left {
    order: 1;
    //width: 350px;
    width: rem(300);

    .sticky-element-compact {
      top: calc(#{$header-desktop-height-compact} + rem(30));
    }

    .sticky-element-expanded {
      top: calc(#{$header-desktop-height} + rem(30));
    }

    .padder {
      padding: 0 0 rem(30);

      h5 {
        margin-top: rem(30);

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }

  .search-page-right {
    order: 2;
    width: calc(100% - rem(300));

    .padder {
      padding: 0 0 rem(85) rem(24);
    }
  }
}

.card-date-holder {
  .data {
    order: 1;
    width: rem(90);
    height: rem(85);
    overflow: hidden;
    @include define-border-radius(rem(8));
    background-color: $color-8;
    text-align: center;
    padding-top: rem(4);
    margin-right: rem(25);
    margin-bottom: rem(25);
    -webkit-box-shadow: 0 0 rem(8) 0 rgba(0, 43, 85, 0.1);
    -moz-box-shadow: 0 0 rem(8) 0 rgba(0, 43, 85, 0.1);
    box-shadow: 0 0 rem(8) 0 rgba(0, 43, 85, 0.1);

    h3,
    h5 {
      color: $color-1;
      margin-bottom: 0;
    }

    h5 {
      line-height: rem($h5-size-desktop);
    }
  }
}

.flex-hold-scadenze {
  &:last-child {
    .data {
      margin-bottom: 0;
    }
  }

  .data {
    order: 1;
    width: rem(90);
    height: rem(85);
    overflow: hidden;
    @include define-border-radius(rem(8));
    background-color: $color-8;
    text-align: center;
    padding-top: rem(4);
    margin-right: rem(25);
    margin-bottom: rem(25);
    -webkit-box-shadow: 0 0 rem(8) 0 rgba(0, 43, 85, 0.1);
    -moz-box-shadow: 0 0 rem(8) 0 rgba(0, 43, 85, 0.1);
    box-shadow: 0 0 rem(8) 0 rgba(0, 43, 85, 0.1);

    h3,
    h5 {
      color: $color-1;
      margin-bottom: 0;
    }

    h5 {
      line-height: rem($h5-size-desktop);
    }
  }

  .info {
    position: relative;
    order: 2;
    width: calc(100% - rem(116));
    border-left: solid rem(1) $color-4;

    &:before {
      content: "";
      position: absolute;
      left: rem(-4);
      top: rem(41);
      width: rem(8);
      height: rem(8);
      background-color: $color-4;
      @include define-border-radius(rem(8));
    }

    .padder {
      padding: 0 0 0 rem(30);
    }
  }
}

.flex-hold-3 {
  &.margins-thin {
    .flex-hold-child {
      width: calc(33.333333% - rem(12));
      margin: 0 rem(18) rem(18) 0;
    }

    .flex-hold-child:nth-child(3n) {
      margin-right: 0;
    }
  }

  &.margins-wide {
    .flex-hold-child {
      width: calc(33.333333% - rem(24));
      margin: 0 rem(36) rem(36) 0;
    }

    .flex-hold-child:nth-child(3n) {
      margin-right: 0;
    }
  }

  &.margins-fit {
    .flex-hold-child {
      width: 33.333333%;
    }
  }
}

.flex-fix-column {
  &.left-fix {
    .fix {
      order: 1;
      width: calc(33.333333% - rem(48));
      margin: 0 rem(72) rem(48) 0;
    }

    .nofix {
      order: 2;
      width: calc(66.666666% - rem(48));
      margin-right: 0;
    }
  }

  &.right-fix {
    .fix {
      order: 2;
      width: calc(33.333333% - rem(48));
      margin: 0 0 rem(48) rem(72);
    }

    .nofix {
      order: 1;
      width: calc(66.666666% - rem(48));
      margin-right: 0;
    }
  }
}

.flex-hold-4 {
  &.margins-thin {
    .flex-hold-child {
      width: calc(25% - rem(12)) !important;
      margin: 0 rem(16) rem(16) 0;
    }

    .flex-hold-child:nth-child(4n) {
      margin-right: 0;
    }
  }

  &.margins-wide {
    .flex-hold-child {
      width: calc(25% - rem(36)) !important;
      margin: 0 rem(48) rem(48) 0;
    }

    .flex-hold-child:nth-child(4n) {
      margin-right: 0;
    }
  }

  &.margins-fit {
    .flex-hold-child {
      width: 25%;
    }
  }
}

// social list

.inline-socials {
  width: 100%;
  margin: 0;

  li {
    text-align: center !important;
    display: inline-block;
    width: rem(28);
    height: rem(28);
    margin: 0 0 rem(10) rem(15);
    overflow: hidden;
    font-size: rem(28);
  }
}

// cards

.offsite {
  max-width: calc(50% - rem(18)) !important;
}

.card-outline {
  margin-top: rem(30);

  .card_inner {
    position: relative;

    &.regular-card {
      padding: rem(40);
    }
  }
}

.card {
  article {
    position: relative;
    height: 100%;
  }


  .cta-holder {
    position: absolute;
    bottom: rem(25);
    left: 0;
    display: block;
    width: calc(100% - rem(40));
    padding: 0 rem(20);
  }

  .image-card-image-side {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 40%;
    height: 100%;
  }
}

.card_inner {

  &.regular-card {
    padding: rem(20) rem(20) rem(35);
  }

  &.compact-card {
    padding: rem(20) rem(20) 0;
  }

  &.cap-card {
    padding: rem(20);
  }

  &.image-card {
    width: calc(60% - rem(30));
    padding: rem(20) 0 rem(40) rem(20);
  }

  &.warning-card {
    padding: rem(20)rem(20) rem(20) rem(65);

    .icon {
      position: absolute;
      top: rem(22);
      left: rem(20);
    }
  }

  &.image-card-normal {
    padding-bottom: 70%;
  }

  &.image-card-big {
    padding-bottom: 150%;
  }

  &.image-card-big,
  &.image-card-normal {
    .image-card-content {
      position: absolute;
      bottom: rem(24);
      left: 0;
      width: calc(100% - rem(40));
      padding: 0 rem(20);
    }
  }

  .cover-image {
    position: relative;
    margin-top: rem(-20);
    left: rem(-20);
    width: calc(100% + rem(40));
    margin-bottom: rem(15);
  }

  .category-holder {
    margin-bottom: rem(20);
  }

  .texts-holder {
    margin-bottom: rem(50);

    &.compact {
      margin-bottom: rem(25);
    }
  }

  .texts-holder-no-cta {}

  .more-info {
    margin-bottom: rem(40);
  }
}

.people-card {
  .title-block {
    margin-bottom: rem(20);
  }
}

.map-module {
  .video_frame {
    position: relative;
    left: rem(-45);
    padding-bottom: 70%;
    height: 0;
    overflow: hidden;
    width: calc(100% + rem(90)) !important;
    height: auto;
    margin-bottom: calc(#{rem($paragraph-marginbottom-desktop)} * 2);
  }
}

.rmp-widgets-container {
  text-align: left !important;

  .rmp-heading--title {
    font-family: $font-main;
    font-size: rem($h5-size-desktop);
    line-height: rem($h5-lineheight-desktop);
    margin-bottom: rem($h5-marginbottom-desktop);
    font-weight: $font-weight-3;
  }

  .rmp-heading--subtitle {
    font-family: $font-main;
    font-size: rem($h6-size-desktop);
    line-height: rem($h6-lineheight-desktop);
    margin-bottom: rem($h6-marginbottom-desktop);
    font-weight: $font-weight-1;
  }

  .rmp-rating-widget__results,
  .rmp-rating-widget__not-rated {
    font-family: $font-main;
    font-size: rem($h5-size-desktop);
    line-height: rem($h5-lineheight-desktop);
    margin-bottom: rem($h5-marginbottom-desktop);
    font-weight: $font-weight-3;
  }

  .rmp-rating-widget__msg {
    font-family: $font-main;
    font-size: rem($h6-size-desktop);
    line-height: rem($h6-lineheight-desktop);
    margin-bottom: rem($h6-marginbottom-desktop);
    font-weight: $font-weight-1;
  }
}