// main: ../style.scss
@import '../global/vars';
@import '../global/mixin'; // wrappers and more

.mobile-only {
  display: none !important;
}

.wrapper-padded {
  width: calc(100% - (#{$wrapper-padded-desktop} * 2));
  padding: 0 $wrapper-padded-desktop;
}

.wrapper-padded-more {
  max-width: 1185px;
}

.wrapper-padded-intro {
  max-width: 1125px;
}

.wrapper-padded-more-924 {
  max-width: 924px;
}

.wrapper-padded-more-780 {
  max-width: 780px;
}

.wrapper-padded-more-650 {
  max-width: 650px;
}

.wrapper-padded-more-500 {
  max-width: 500px;
}

.modules-wrapper {
  .padder {
    padding: 55px 45px 85px;
  }
}

.inpage-searchform {
  margin-top: 60px;
}

.page-opening-padder {
  padding: 40px 0 110px;
}

.avviso-padder,
.avviso-top-padder,
.single-content-opening-padder {
  padding: 40px 0 10px;
}

.avviso-padder {
  h3 {
    padding-left: 30px;
  }
}

.intro-search-results-padder {
  margin: 0 0 30px;

  .flex-hold-child {
    h5 {
      display: inline-block;
      margin: 0 0 0 20px;
    }
  }

  .flex-hold-child:nth-child(2n) {
    text-align: right;
  }
}

.intro-news-padder {
  padding: 15px 65px 0 30px;
}

.tags-holder {
  width: 100%;
  margin: 30px 0 10px;

  a {
    margin-right: 15px;
    margin-bottom: 20px;
  }
}

.listing-module {
  .tags-holder {
    margin: 10px 0;
  }
}

.intro-box {
  margin: 0 0 40px;
}

.intro-news-padder {
  .category-holder {
    margin-bottom: 20px;
  }
}

.wrapper-step {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 50px;
}

.wrapper-step-image {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 300px;
}

.highlight-box {
  margin: 60px 0 0;
}

.thematic-box {
  margin: 60px 0;
}

.search-banner {
  margin: 110px 0;
}

.listing-box {
  margin: 60px 0 40px;
}

.tag-box {
  margin: 60px 0 90px;
}

.module-separator {
  margin-bottom: 35px;
}

.module-separator-flex {
  margin-bottom: 16px;
}

.scadenze-wrapper {
  margin-top: 40px;
}

.data-holder {
  margin: 20px 0 40px;
}

// flex boxes
// per calcolare la larghezza degli elementi flex:
// valore margin right - (valore margin right / numero elmenti per riga)
// es. 16 - (16/2) = 8

.grid-separator-1 {
  margin: 0 0 54px;
}

.grid-separator-2 {
  margin: 40px 0 0;
}

.opening-child-right {
  .flex-hold-child:nth-child(2n) {
    text-align: right;
  }
}

.flex-hold-single {
  .flex-hold-child {
    margin: 0 0 36px;
  }

  .people-card {
    width: calc(50% - 18px) !important;
    margin: 0 36px 36px 0;
  }
}

.flex-hold-2 {
  &.margins-thin {
    .flex-hold-child {
      width: calc(50% - 36px) !important;
      margin: 0 72px 24px 0;
    }

    .flex-hold-child:nth-child(2n) {
      margin-right: 0;
    }
  }

  &.margins-wide {
    .flex-hold-child {
      width: calc(50% - 18px) !important;
      margin: 0 36px 36px 0;
    }

    .flex-hold-child:nth-child(2n) {
      margin-right: 0;
    }
  }

  &.margins-fit {
    .flex-hold-child {
      width: 50%;
    }
  }
}

.flex-hold-page-opening {
  margin-top: 60px;

  .page-opening-left {
    order: 1;
    width: 60%;

    .banner-form {
      margin-top: 30px;
    }

    .card {
      margin-top: 30px;
    }
  }

  .page-opening-right {
    order: 2;
    width: 40%;

    .padder {
      padding-left: 160px;

      .card {
        margin-top: 20px;
      }
    }

    .tags-holder {
      margin-top: 10px;
    }
  }
}

.flex-hold-page-index {
  margin-top: 30px;
  border-top: solid 1px $color-10;

  .page-index-left {
    order: 1;
    width: 350px;

    .sticky-element-compact {
      top: $header-desktop-height-compact;
    }

    .sticky-element-expanded {
      top: $header-desktop-height;
    }
  }

  .page-index-right {
    order: 2;
    width: calc(100% - 351px);
    border-left: solid 1px $color-10;

    .padder {
      padding: 55px 45px 85px;
    }
  }
}

.flex-hold-avviso {
  .avviso-left {
    order: 1;
    width: calc(100% - 490px);

    .padder {
      padding: 0 40px 0 0;

      h3 {
        padding-left: 30px;
      }
    }
  }

  .avviso-right {
    position: relative;
    order: 2;
    width: 490px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    .avviso-shadow {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 50%;
      height: 100%;
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1a4d78+0,1a4d78+100&1+0,0+100 */
      background: -moz-linear-gradient(left, rgba(26, 77, 120, 1) 0%, rgba(26, 77, 120, 0) 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(left, rgba(26, 77, 120, 1) 0%, rgba(26, 77, 120, 0) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, rgba(26, 77, 120, 1) 0%, rgba(26, 77, 120, 0) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
  }
}

.chiudi-avviso {
  position: absolute;
  left: -15px;
  top: 45px;
  color: $color-11;

  span {
    font-size: 28px;
  }
}

.flex-hold-search-page {
  margin-top: 30px;
  padding-top: 60px;

  //border-top: solid 1px $color-10;
  .search-page-left {
    order: 1;
    //width: 350px;
    width: 200px;

    .sticky-element-compact {
      top: calc(#{$header-desktop-height-compact} + 30px);
    }

    .sticky-element-expanded {
      top: calc(#{$header-desktop-height} + 30px);
    }

    .padder {
      padding: 0 0 30px;

      h5 {
        margin-top: 30px;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }

  .search-page-right {
    order: 2;
    width: calc(100% - 200px);

    .padder {
      padding: 0 0 85px 24px;
    }
  }
}

.card-date-holder {
  .data {
    order: 1;
    width: 90px;
    height: 85px;
    overflow: hidden;
    @include define-border-radius(8px);
    background-color: $color-8;
    text-align: center;
    padding-top: 4px;
    margin-right: 25px;
    margin-bottom: 25px;
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 43, 85, 0.1);
    -moz-box-shadow: 0 0 8px 0 rgba(0, 43, 85, 0.1);
    box-shadow: 0 0 8px 0 rgba(0, 43, 85, 0.1);

    h3,
    h5 {
      color: $color-1;
      margin-bottom: 0;
    }

    h5 {
      line-height: $h5-size-desktop;
    }
  }
}

.flex-hold-scadenze {
  &:last-child {
    .data {
      margin-bottom: 0;
    }
  }

  .data {
    order: 1;
    width: 90px;
    height: 85px;
    overflow: hidden;
    @include define-border-radius(8px);
    background-color: $color-8;
    text-align: center;
    padding-top: 4px;
    margin-right: 25px;
    margin-bottom: 25px;
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 43, 85, 0.1);
    -moz-box-shadow: 0 0 8px 0 rgba(0, 43, 85, 0.1);
    box-shadow: 0 0 8px 0 rgba(0, 43, 85, 0.1);

    h3,
    h5 {
      color: $color-1;
      margin-bottom: 0;
    }

    h5 {
      line-height: $h5-size-desktop;
    }
  }

  .info {
    position: relative;
    order: 2;
    width: calc(100% - 116px);
    border-left: solid 1px $color-4;

    &:before {
      content: "";
      position: absolute;
      left: -4px;
      top: 41px;
      width: 8px;
      height: 8px;
      background-color: $color-4;
      @include define-border-radius(8px);
    }

    .padder {
      padding: 0 0 0 30px;
    }
  }
}

.flex-hold-3 {
  &.margins-thin {
    .flex-hold-child {
      width: calc(33.333333% - 12px);
      margin: 0 18px 18px 0;
    }

    .flex-hold-child:nth-child(3n) {
      margin-right: 0;
    }
  }

  &.margins-wide {
    .flex-hold-child {
      width: calc(33.333333% - 24px);
      margin: 0 36px 36px 0;
    }

    .flex-hold-child:nth-child(3n) {
      margin-right: 0;
    }
  }

  &.margins-fit {
    .flex-hold-child {
      width: 33.333333%;
    }
  }
}

.flex-fix-column {
  &.left-fix {
    .fix {
      order: 1;
      width: calc(33.333333% - 48px);
      margin: 0 72px 48px 0;
    }

    .nofix {
      order: 2;
      width: calc(66.666666% - 48px);
      margin-right: 0;
    }
  }

  &.right-fix {
    .fix {
      order: 2;
      width: calc(33.333333% - 48px);
      margin: 0 0 48px 72px;
    }

    .nofix {
      order: 1;
      width: calc(66.666666% - 48px);
      margin-right: 0;
    }
  }
}

.flex-hold-4 {
  &.margins-thin {
    .flex-hold-child {
      width: calc(25% - 12px) !important;
      margin: 0 16px 16px 0;
    }

    .flex-hold-child:nth-child(4n) {
      margin-right: 0;
    }
  }

  &.margins-wide {
    .flex-hold-child {
      width: calc(25% - 36px) !important;
      margin: 0 48px 48px 0;
    }

    .flex-hold-child:nth-child(4n) {
      margin-right: 0;
    }
  }

  &.margins-fit {
    .flex-hold-child {
      width: 25%;
    }
  }
}

// social list

.inline-socials {
  width: 100%;
  margin: 0;

  li {
    text-align: center !important;
    display: inline-block;
    width: 28px;
    height: 28px;
    margin: 0 0 10px 15px;
    overflow: hidden;
    font-size: 28px;
  }
}

// cards

.offsite {
  max-width: calc(50% - 18px) !important;
}

.card-outline {
  margin-top: 30px;

  .card_inner {
    position: relative;

    &.regular-card {
      padding: 40px;
    }
  }
}

.card {
  .cta-holder {
    position: absolute;
    bottom: 25px;
    left: 0;
    display: block;
    width: calc(100% - 40px);
    padding: 0 20px;
  }

  .image-card-image-side {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 40%;
    height: 100%;
  }
}

.card_inner {
  position: relative;

  &.regular-card {
    padding: 20px 20px 35px;
  }

  &.compact-card {
    padding: 20px 20px 0;
  }

  &.cap-card {
    padding: 20px;
  }

  &.image-card {
    width: calc(60% - 30px);
    padding: 20px 0 20px 20px;
  }

  &.warning-card {
    padding: 20px 20px 20px 65px;

    .icon {
      position: absolute;
      top: 22px;
      left: 20px;
    }
  }

  &.image-card-normal {
    padding-bottom: 70%;
  }

  &.image-card-big {
    padding-bottom: 150%;
  }

  &.image-card-big,
  &.image-card-normal {
    .image-card-content {
      position: absolute;
      bottom: 24px;
      left: 0;
      width: calc(100% - 40px);
      padding: 0 20px;
    }
  }

  .cover-image {
    position: relative;
    margin-top: -20px;
    left: -20px;
    width: calc(100% + 40px);
    margin-bottom: 15px;
  }

  .category-holder {
    margin-bottom: 20px;
  }

  .texts-holder {
    margin-bottom: 50px;

    &.compact {
      margin-bottom: 25px;
    }
  }

  .texts-holder-no-cta {
    //margin-bottom: 50px;
  }

  .more-info {
    margin-bottom: 40px;
  }
}

.people-card {
  .title-block {
    margin-bottom: 20px;
  }
}

.map-module {
  .video_frame {
    position: relative;
    left: -45px;
    padding-bottom: 70%;
    height: 0;
    overflow: hidden;
    width: calc(100% + 90px) !important;
    height: auto;
    margin-bottom: calc(#{$paragraph-marginbottom-desktop} * 2);
  }
}

.rmp-widgets-container {
  text-align: left !important;

  .rmp-heading--title {
    font-family: $font-main;
    font-size: $h5-size-desktop;
    line-height: $h5-lineheight-desktop;
    margin-bottom: $h5-marginbottom-desktop;
    font-weight: $font-weight-3;
  }

  .rmp-heading--subtitle {
    font-family: $font-main;
    font-size: $h6-size-desktop;
    line-height: $h6-lineheight-desktop;
    margin-bottom: $h6-marginbottom-desktop;
    font-weight: $font-weight-1;
  }

  .rmp-rating-widget__results,
  .rmp-rating-widget__not-rated {
    font-family: $font-main;
    font-size: $h5-size-desktop;
    line-height: $h5-lineheight-desktop;
    margin-bottom: $h5-marginbottom-desktop;
    font-weight: $font-weight-3;
  }

  .rmp-rating-widget__msg {
    font-family: $font-main;
    font-size: $h6-size-desktop;
    line-height: $h6-lineheight-desktop;
    margin-bottom: $h6-marginbottom-desktop;
    font-weight: $font-weight-1;
  }
}