// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';
//$logo-width: 200px;
$logo-width: 280px;
$logo-compact-width: 33px;
$hamburger-width: 45px;
$side-head-compact-width: 65px; // header

#preheader {
  height: $header-desktop-height;
}

#header {
  height: $header-desktop-height;
  opacity: 1;
  pointer-events: all;
  @include define-basic-transition(opacity, 0.3s);

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  #header-structure {
    width: 100%;
    margin: rem(16) 0 0;

    .logo {
      width: $logo-width;
      height: 100px;

      &:before {
        top: 0;
        left: 0;
        height: 100%;
        background-image: url("assets/images/site-logo-header.svg");
      }
    }

    .menu {
      width: 100%;
      margin-top: rem(16);

      ul {
        display: inline-block;
        width: calc(50% - rem(4));
        overflow: auto;
        white-space: nowrap;
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
        cursor: grab;

        &::-webkit-scrollbar {
          display: none;
        }

        &:first-child {
          text-align: left;

          li {
            margin-right: rem(25);
            padding-bottom: rem(4);
          }
        }

        &:last-child {
          text-align: right;
          font-weight: $font-weight-1;

          li {
            margin-left: rem(25);
            padding-bottom: rem(6);
          }
        }

        li {
          position: relative;
          display: inline-block;
        }

        .current-menu-item,
        .current-page-ancestor,
        .current_page_item {
          border-bottom: solid rem(4) $color-12;
        }
      }
    }

    .side-head {
      width: calc(100% - #{$logo-width});
      text-align: right;

      ul {
        width: 100%;

        li {
          //text-align: center !important;
          display: inline-block;
          margin: 0 0 0 rem(10);

          &.hamb-menu {
            display: none;
            visibility: hidden;

            .hambuger-element {
              display: none;
              visibility: hidden;
            }
          }

          &.search-menu {
            margin-left: rem(30);
          }
        }

        li:last-child {
          margin-left: 0;
        }
      }

      .activate-search {
        position: relative;
        position: relative;
        padding-right: rem(63);
        padding-left: rem(28);
        line-height: rem(48);
        color: $color-12;

        .icon-hold {
          position: absolute;
          right: 0;
          top: 0;
          width: rem(48);
          height: rem(48);
          background-color: $color-8;
          @include define-border-radius(rem(48));
          overflow: hidden;

          span {
            position: relative;
            top: rem(4);
            color: $color-4;
            font-size: rem(25);
          }
        }
      }

      .header-social {
        i {
          position: relative;
          top: rem(3);
          font-size: rem(22);
        }
      }
    }
  }

  .header-menu-top {
    margin: rem(15) 0;

    li {
      display: inline-block;
      margin-right: rem(30);

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

#header-compact {
  height: $header-desktop-height-compact;
  opacity: 1;
  pointer-events: all;
  @include define-basic-transition(opacity, 0.3s);

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  #header-structure {
    width: 100%;
    margin: rem(6) 0 0;

    .logo {
      width: $logo-compact-width;
      height: rem(48);

      &:before {
        top: 0;
        left: 0;
        height: 100%;
        background-image: url("assets/images/site-logo-header-compact.svg");
      }
    }

    .menu {
      width: calc(100% - #{$logo-compact-width} - #{$side-head-compact-width} - rem(20));
      padding-left: rem(20);

      //margin-top: 2px;
      ul {
        display: inline-block;
        width: calc(50% - rem(4));

        &:first-child {
          text-align: left;

          li {
            margin-right: rem(12);
            padding: rem(12) 0;

            &:last-child {
              margin-right: 0;
            }
          }
        }

        &:last-child {
          text-align: right;

          li {
            margin-left: rem(12);
            padding: rem(14) 0;

            &:first-child {
              margin-left: 0;
            }
          }
        }

        li {
          position: relative;
          display: inline-block;
        }

        .current-page-ancestor,
        .current_page_item {
          border-bottom: solid rem(4) $color-12;
        }
      }
    }

    .side-head {
      width: $side-head-compact-width;
      text-align: right;

      ul {
        width: 100%;

        li {
          //text-align: center !important;
          display: inline-block;
          margin: 0;

          &.hamb-menu {
            display: none;
            visibility: hidden;

            .hambuger-element {
              display: none;
              visibility: hidden;
            }
          }

          &.search-menu {
            //margin-left: 30px;
          }
        }

        li:last-child {
          margin-left: 0;
        }
      }

      .activate-search {
        position: relative;
        top: rem(8);
        border: none;
        background-color: transparent;
        position: relative;
        cursor: pointer;
        color: $color-12;

        span {
          font-size: rem(25);
        }
      }
    }
  }
}

#search-overlay {
  top: 0;
  height: 100vh;

  .search-overlay-structure {
    padding: rem(80) 0 0;

    .flex-hold-child {
      margin-bottom: 0;
    }
  }
}

#head-overlay {
  display: none;
}

.occupy-scrollbar {
  width: calc(100% - rem(18));
}

.scroll-opportunity {
  height: calc(100vh - #{$header-desktop-height});
}

// footer

#footer {
  padding-top: rem(85);
  padding-bottom: 0;

  .footer-block-1 {
    border-bottom: solid rem(1) $color-9;
    margin-bottom: rem(60);
  }

  .footer-menu {
    li {
      margin-bottom: rem(15);
    }
  }

  .footer-menu-bottom {
    margin: rem(30) 0;

    li {
      display: inline-block;
      margin-right: rem(30);

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

a.anchor-head {
  display: block;
  position: relative;
  top: -$header-desktop-height;
  visibility: hidden;
}