// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';
$logo-width: 200px;
$hamburger-width: 45px; // header

#preheader {
  height: $header-desktop-height;
}

#header {
  height: $header-desktop-height;

  #header-structure,
  .activate-search,
  .header-first-stripe,
  .icon-hold,
  .logo,
  .menu {
    @include define-basic-transition(all, 0.2s);
  }

  .header-first-stripe {
    height: 56px;
    pointer-events: all;
    overflow: hidden;
  }

  &.compact {
    height: $header-desktop-height-compact;

    #header-structure {
      margin: 8px 0 0;
    }

    .header-first-stripe {
      height: 0;
      pointer-events: none;
    }

    .logo {
      height: 45px;
    }

    .activate-search {
      padding-right: 48px !important;
      line-height: 36px !important;
      color: $color-12;

      .icon-hold {
        position: absolute;
        right: 0;
        top: 0;
        width: 36px !important;
        height: 36px !important;
        background-color: $color-8;
        @include define-border-radius(36px);
        overflow: hidden;

        span {
          top: 3px !important;
          color: $color-4;
          font-size: 20px !important;
        }
      }
    }

    .menu {
      margin-top: 4px;
    }
  }

  .header-menu-top {
    margin: 20px 0;

    li {
      display: inline-block;
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

#head-overlay {
  top: $header-desktop-height;
  height: calc(100vh - #{$header-desktop-height});

  .menu {
    width: 100%;

    .overlay-menu-mobile-css {
      width: 100%;

      li {
        position: relative;
        display: block;
        text-align: left;

        a {
          display: block;
          width: calc(100% - (#{$wrapper-padded-smartphone} * 2));
          padding: 20px $wrapper-padded-smartphone 20px calc(#{$wrapper-padded-smartphone} - 15px);
        }

        &.menu-item-has-children {
          a {
            &:after {
              position: absolute;
              right: 0;
              top: 20px;
              content: "▼";
              font-size: 15px;
              margin-right: $wrapper-padded-smartphone;
            }
          }
        }
      }

      .current-page-ancestor,
      .current_page_item {}

      .sub-menu {
        display: none;

        li {
          width: 100%;

          &:last-child {
            border-bottom: none;
            padding: 0;
            margin: 0;
          }

          a {
            display: block;
            width: calc(100% - (#{$wrapper-padded-smartphone} * 2));
            padding: 20px $wrapper-padded-smartphone;

            &:after {
              content: "";
            }
          }
        }
      }
    }
  }

  .inline-socials {
    margin-top: 20px;
  }
}

.occupy-scrollbar {
  width: calc(100% - 18px);
}

.scroll-opportunity {
  height: calc(100vh - #{$header-desktop-height});
}

#header-structure {
  width: 100%;
  margin: 16px 0 0;

  .logo {
    width: $logo-width;
    height: 100px;

    &:before {
      top: 0;
      left: 0;
      height: 100%;
    }
  }

  .menu {
    width: 100%;
    margin-top: 16px;

    ul {
      display: inline-block;
      width: calc(50% - 4px);

      &:first-child {
        text-align: left;

        li {
          margin-right: 25px;
          padding-bottom: 4px;
        }
      }

      &:last-child {
        text-align: right;

        li {
          margin-left: 25px;
          padding-bottom: 6px;
        }
      }

      li {
        position: relative;
        display: inline-block;

        &.current-mega-menu {
          &:after {
            content: "";
            position: absolute;
            bottom: -27px;
            left: 0;
            display: block;
            width: 100%;
            height: 4px;
          }
        }

        &.mega-menu-js-trigger,
        &.menu-item-has-children {
          a {
            cursor: context-menu;

            &:before {
              content: "▼";
              font-size: 10px;
              float: right;
              margin-left: 10px;
            }
          }
        }

        a {
          &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -10px;
            width: 100%;
            height: 20px;
          }
        }

        &.menu-item-has-children {
          padding: 15px 0;

          &:hover {
            .sub-menu {
              height: auto;
              pointer-events: all;
              opacity: 1;
            }
          }
        }
      }

      .current-page-ancestor,
      .current_page_item {
        border-bottom: solid 4px $color-12;
      }

      .sub-menu {
        position: absolute;
        z-index: 9997 !important;
        top: 50px;
        left: 50%;
        width: 220px;
        margin-left: -110px;
        padding: 30px 0 !important;
        @include define-border-radius(12px);
        text-align: left;
        text-transform: none;
        -webkit-box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
        -moz-box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
        box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
        opacity: 0;
        pointer-events: none;
        @include define-basic-transition(opacity, 0.15s);
        overflow: hidden;

        &.activated {
          height: auto;
          pointer-events: all;
          opacity: 1;
        }

        li {
          width: 100%;
          padding: 0 0 10px;
          margin: 0 0 10px;
          text-align: center;

          &:last-child {
            border-bottom: none;
            padding: 0;
            margin: 0;
          }

          a {
            display: inline-block;
            width: calc(100% - 50px);
            padding: 0 25px;
            margin: 0;

            &:before {
              content: "";
            }
          }
        }
      }
    }
  }

  .side-head {
    width: calc(100% - #{$logo-width});
    text-align: right;

    ul {
      width: 100%;

      li {
        //text-align: center !important;
        display: inline-block;
        margin: 0 0 0 10px;

        &.hamb-menu {
          display: none;
        }

        &.search-menu {
          margin-left: 30px;
        }
      }

      li:last-child {
        margin-left: 0;
      }
    }

    .activate-search {
      position: relative;
      border: none;
      border-left: solid 1px $color-2;
      background-color: transparent;
      position: relative;
      cursor: pointer;
      padding-right: 63px;
      padding-left: 28px;
      line-height: 48px;
      color: $color-12;

      .icon-hold {
        position: absolute;
        right: 0;
        top: 0;
        width: 48px;
        height: 48px;
        background-color: $color-8;
        @include define-border-radius(48px);
        overflow: hidden;

        span {
          position: relative;
          top: 4px;
          color: $color-4;
          font-size: 25px;
        }
      }
    }

    .header-social {
      i {
        position: relative;
        top: 3px;
        font-size: 22px;
      }
    }
  }
}
// footer

#footer {
  padding-top: 85px;
  padding-bottom: 0;

  .footer-block-1 {
    border-bottom: solid 1px $color-9;
    margin-bottom: 60px;
  }

  .footer-menu {
    li {
      margin-bottom: 15px;
    }
  }

  .footer-menu-bottom {
    margin: 30px 0;

    li {
      display: inline-block;
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}