// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

.map-module-plugin {
    position: relative;
    width: 100%;

    .wpgmza_map {
        height: auto !important;
        min-height: rem(744) !important;
    }

    .video_frame {
        position: relative;
        padding-bottom: 0 !important;

        overflow: hidden;
        width: 100% !important;
        height: auto;
    }
}

.wpgmza_infowindow_link,
.wpgmza-link {
    a {
        position: relative;
        font-size: rem($h6-size-desktop);
        line-height: rem($h6-lineheight-desktop);
        margin-bottom: rem($h6-marginbottom-desktop);
        letter-spacing: rem(1);
        color: $color-4;
        font-weight: $font-weight-3;
        font-family: $font-main;
        text-transform: uppercase;

        &:hover {
            color: $color-1;
        }

        &:after {
            position: relative;
            display: inline-block;
            text-decoration: none !important;
            position: relative;
            top: rem(2);
            margin-left: rem(8);
            font-family: "provincia-di-lecco" !important;
            font-style: normal !important;
            font-weight: normal !important;
            font-variant: normal !important;
            text-transform: none !important;
            speak: none;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\62";
        }
    }
}

.wpgmza-link {
    margin-top: rem(5);
}

.wpgmza_marker_title {
    font-size: rem($h6-size-desktop);
    line-height: rem($h6-lineheight-desktop);
    margin-bottom: rem($h6-marginbottom-desktop);
    color: $color-4;
    font-weight: $font-weight-3;
    font-family: $font-main;
    color: $color-2;
}

.wpgmza_gallery_placeholder {
    margin-bottom: rem(10);
}

.wpgmza_infowindow_address,
.wpgmza_infowindow_description p {
    font-size: rem($h6-size-desktop);
    line-height: rem($h6-lineheight-desktop);
    margin-bottom: rem($h6-marginbottom-desktop);
}

.wpgmza_infowindow_address {
    font-weight: $font-weight-2;
    font-family: $font-main;
    margin-bottom: rem(10);
}

.wpgmza_infowindow_title,
.wpgmza_div_title {
    font-size: rem($h5-size-desktop);
    line-height: rem($h5-lineheight-desktop);
    margin-bottom: rem($h5-marginbottom-desktop);
    color: $color-4;
    font-weight: $font-weight-3;
    font-family: $font-main;
    color: $color-2;
}