// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

.modules-handler {}

.page-opening {}

.page-opening-simple-spacer {
  padding: 72px 0 48px;

  .cta-holder {
    margin: 35px 0 0;
  }
}

.opening-text-image {
  .cta-holder {
    margin: 32px 0 0;
  }
}

.breadcrumbs-holder {
  margin-bottom: 32px;
}

.categories-holder {
  margin: 32px 0 0;

  a {
    margin: 0 16px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.module-spacer {
  padding: 72px 0;
}

.sticky-element {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  @include define-basic-transition(all, 0.2s);
}

.expandable-content {
  padding-top: 35px;
}

.module-dati-progetto {
  .module-dati-progetto-string {
    position: relative;
    display: block;
    width: 100%;
    padding: 10px 0;
    border-bottom: solid 1px $color-13;
    @include flex-wrap;
    font-size: $paragraph-size-desktop;
    line-height: $paragraph-lineheight-desktop;


    .label {
      width: 220px;
      margin-right: 10px;
      color: $color-2;
      font-weight: $font-weight-2;
    }

    .data {
      width: calc(100% - 230px);
      font-family: $font-sub;
    }
  }
}