// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

.modules-handler {}

.page-opening {}

.page-opening-simple-spacer {
  padding: 72px 0 48px;

  .cta-holder {
    margin: 35px 0 0;
  }
}

.opening-text-image {
  .cta-holder {
    margin: 32px 0 0;
  }
}

.breadcrumbs-holder {
  margin-bottom: 32px;
}

.categories-holder {
  margin: 32px 0 0;

  a {
    margin: 0 16px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.module-spacer {
  padding: 72px 0;
}

.sticky-element {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  @include define-basic-transition(all, 0.2s);
}

.expandable-content {
  padding-top: 35px;
}