// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

.search-overlay-title,
.as-h1,
h1 {
  font-size: rem($h1-size-desktop);
  line-height: rem($h1-lineheight-desktop);
  margin-bottom: rem($h1-marginbottom-desktop);
}

.as-h2,
h2 {
  font-size: rem($h2-size-desktop);
  line-height: rem($h2-lineheight-desktop);
  margin-bottom: rem($h2-marginbottom-desktop);
}

.people-card {
  h2 {
    margin-bottom: rem(12);
  }
}

.as-h3,
h3 {
  font-size: rem($h3-size-desktop);
  line-height: rem($h3-lineheight-desktop);
  margin-bottom: rem($h3-marginbottom-desktop);
}

.as-h4,
.content-styled h2,
.content-styled h3,
.h2-variant,
.h3-variant,
h4 {
  font-size: rem($h4-size-desktop);
  line-height: rem($h4-lineheight-desktop);
  margin-bottom: rem($h4-marginbottom-desktop);
}

.all-results,
.h4-variant {
  font-size: rem($h4-size-variant-desktop);
  line-height: rem($h4-lineheight-variant-desktop);
  margin-bottom: rem($h4-marginbottom-variant-desktop);
}

.h2-as-h5 h2,
.as-h5,
.button-typo-normalizer,
.card p,
.footer-menu,
.page-opening-menu,
.paragraph-variant,
.paragraph-variant-holder p,
h5 {
  font-size: rem($h5-size-desktop);
  line-height: rem($h5-lineheight-desktop);
  margin-bottom: rem($h5-marginbottom-desktop);
}

#footer {
  h5 {
    margin-bottom: rem(20);
  }
}

.head-navi-side,
.index-listing,
.inner-news-listing {
  font-size: rem($h5-size-desktop);
  line-height: rem($h5-lineheight-desktop);
  margin-bottom: 0;
}

.arrow-button,
h6 {
  font-size: rem($h6-size-desktop);
  line-height: rem($h6-lineheight-desktop);
  margin-bottom: rem($h6-marginbottom-desktop);
  letter-spacing: rem(1);
}

.as-h6 {
  font-size: rem($h6-size-desktop) !important;
  line-height: rem($h6-lineheight-desktop) !important;
  margin-bottom: rem($h6-marginbottom-desktop) !important;
  letter-spacing: rem(1) !important;
}

.tag-button {
  font-size: rem($h6-size-desktop);
  line-height: rem($h6-lineheight-desktop);
  margin-bottom: 0;
}

.alternate-h6 {
  font-size: rem($h6-size-desktop);
  line-height: rem($h6-lineheight-desktop);
  margin-bottom: rem($h5-marginbottom-desktop);
  color: $color-1;
  letter-spacing: normal;
}

.breadcrumbs-holder {
  font-size: rem($h6-size-desktop);
  line-height: rem($h6-lineheight-desktop);
  margin-bottom: rem($h6-marginbottom-desktop);
}

select {
  font-size: rem($h6-size-desktop);
  line-height: rem($h6-lineheight-desktop);
}

.wp-caption-text,
.wp-caption.aligncenter .wp-caption-text,
.wp-caption.alignleft .wp-caption-text,
.wp-caption.alignnone .wp-caption-text,
.wp-caption.alignright .wp-caption-text {
  font-size: rem($h6-size-desktop);
  line-height: rem($h6-lineheight-desktop);
}

.index-menu-expander {
  font-size: rem($h6-size-desktop);
  line-height: rem($h6-lineheight-desktop);
  font-weight: $font-weight-3;
}

.square-button {
  letter-spacing: rem(1);
}

.as-p,
.activate-search,
p {
  font-size: rem($paragraph-size-desktop);
  line-height: rem($paragraph-lineheight-desktop);
  margin: 0 0 rem($paragraph-marginbottom-desktop);
  padding: 0;
}

.square-button,
small {
  font-size: rem($small-size-desktop);
  line-height: rem($small-lineheight-desktop);
}

.navi {
  font-size: rem($cta1-size-desktop);
  line-height: rem($cta1-lineheight-desktop);
}

.content-styled,
.content-styled-card {
  h6 {
    margin: 0 0 rem($paragraph-marginbottom-desktop);
  }

  ul {
    font-size: rem($paragraph-size-desktop);
    line-height: rem($paragraph-lineheight-desktop);
    margin-bottom: rem($paragraph-marginbottom-desktop);

    li {
      display: table-row;

      &:before {
        font-size: rem(20);
        font-weight: $font-weight-1;
      }
    }
  }

  ol {
    font-size: rem($paragraph-size-desktop);
    line-height: rem($paragraph-lineheight-desktop);
    margin-bottom: rem($paragraph-marginbottom-desktop);
  }

  ol>li {
    &:before {
      font-family: $font-main;
      font-size: rem($paragraph-size-desktop);
    }
  }
}

.page-opening-menu {
  margin-top: rem(10);

  div {
    display: none;
  }

  li {
    margin-bottom: rem(10);

    &.hidden {
      visibility: hidden;
      display: none;
    }
  }
}

.share-actions {
  font-size: rem($small-size-desktop);
  line-height: rem($small-lineheight-desktop);

  li {
    margin-bottom: rem(10);

    &:last-child {
      margin-bottom: 0;
    }

    span {
      position: relative;
      top: rem(4);
      margin-right: rem(10);
      font-size: rem(22);
    }
  }
}

.index-menu-js {
  &.hidden {
    visibility: hidden;
  }
}

.index-listing {
  padding: 0 rem(30) rem(30);
  margin-top: rem(20);

  li {
    margin-bottom: rem(10);
  }
}

.expander {
  font-family: $font-main;
  font-weight: $font-weight-1;
  font-size: rem($h4-size-desktop);
  line-height: rem($h4-lineheight-desktop);
}

.header-first-stripe {
  font-size: rem($h6-size-desktop);
  line-height: rem($h6-lineheight-desktop);
}