// main: ../style.scss
@import 'vars';
@import 'mixin'; // hamburger

.hambuger-element {
  width: rem(30);
  height: rem(22);
  position: relative;
  display: inline-block;
  z-index: 9998;
  padding: 0;
  margin: 0;
  @include define-rotate(0);
  cursor: pointer;
  border: none !important;
  overflow: hidden;
  background-color: transparent;
}

.hambuger-element span {
  display: block;
  position: absolute;
  height: rem(4);
  width: 100%;
  opacity: 1;
  right: 0;
  @include define-rotate(0);
  @include define-basic-transition(all, 0.15s);
  background-color: $color-12;
}

.hambuger-element span:nth-child(1) {
  top: 0;
  width: rem(30);
}

.hambuger-element span:nth-child(2),
.hambuger-element span:nth-child(3) {
  top: rem(9);
  width: rem(24);
}

.hambuger-element span:nth-child(4) {
  bottom: 0;
  width: rem(18);
}

.hambuger-element.open span:nth-child(1) {
  top: rem(18);
  width: 0;
  left: 50%;
}

.hambuger-element.open span:nth-child(2) {
  @include define-rotate(45);
  width: rem(26);
}

.hambuger-element.open span:nth-child(3) {
  @include define-rotate(-45);
  width: rem(26);
}

.hambuger-element.open span:nth-child(4) {
  top: rem(18);
  width: 0;
  left: 50%;
}

.arrow-button {
  position: relative;
  display: inline-block;
  text-decoration: none !important;

  &:after {
    position: relative;
    top: rem(2);
    margin-left: rem(8);
    font-family: "provincia-di-lecco" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\62";
  }
}

.square-button {
  position: relative;
  display: inline-block;
  text-decoration: none !important;
  @include define-border-radius(rem(4));
  border: solid rem(1);
  padding: rem(8) rem(24);
}

.tag-button {
  position: relative;
  display: inline-block;
  text-decoration: none !important;
  @include define-border-radius(rem(16));
  padding: rem(4) rem(22);
}

.button-appearance-normalizer {
  border: none;
  cursor: pointer;
  @include define-basic-transition(all, 0.3s);
  background-color: transparent;
}

.page-opening-menu-expander {
  margin: 0;
  padding: 0;
  color: $color-2;

  .icon-js {
    position: relative;
    top: rem(3);
    font-size: rem(20);
  }
}

.page-search-cats-expander {
  margin: 0;
  padding: 0;
  color: $color-2;

  .icon-js {
    position: relative;
    top: rem(3);
    font-size: rem(20);
    color: $color-4;
  }
}

.page-search-cats-listing {
  display: none;
  margin: 0 0 rem(10);
  padding: 0 0 0 rem(15);

  li {
    position: relative;
    margin: 0 0 rem(5);

    ul {
      margin-left: rem(20);
    }

    input[type='checkbox'] {
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      width: rem(1);
      height: rem(1);
    }

    button {
      position: relative;
      display: block !important;
      width: 100%;
      color: $color-2;
      text-align: left;
      margin: 0;
      padding: 0;

      span {
        position: relative;
        top: rem(2);
        display: inline-block;
        width: rem(16);
        height: rem(16);
        border: solid rem(1) $color-2;
        @include define-border-radius(rem(4));
        margin: 0 rem(10) 0 0;

        &.checked {
          background-color: $color-2;

          &:before {
            position: absolute;
            left: rem(2);
            top: rem(2);
            font-size: rem(13);
            color: $color-12;
          }
        }
      }
    }
  }
}

.page-search-cats-listing-argomenti {
  display: block !important;
  padding: 0 !important;
}

.share-menu-expander {
  margin: 0;
  padding: 0;
  color: $color-1;

  span {
    position: relative;
    top: rem(4);
    margin-right: rem(5);
    font-size: rem(20);
    color: $color-4;
  }
}

.print-menu-expander {
  margin: 0;
  padding: 0;
  color: $color-1;

  span {
    position: relative;
    top: rem(4);
    margin-right: rem(5);
    font-size: rem(20);
    color: $color-4;
  }
}

.index-menu-expander {
  position: relative;
  width: 100%;
  padding: rem(35) rem(50) rem(20) rem(32);
  border-bottom: solid rem(5) $color-11;
  text-align: left;
  text-transform: uppercase;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: rem(-4);
    width: rem(48);
    height: rem(5);
    background-color: $color-4;
  }

  span {
    position: relative;
    top: rem(-1);
    float: right;
    font-size: rem(30);
    color: $color-4;
  }
}

.search-overlay-title {
  position: relative;
  color: $color-2;

  &:hover {
    color: $color-1;
  }

  span {
    position: relative;
    top: rem(8);
    color: $color-4;
    margin-right: rem(10);
  }
}

.search-form {

  .search-erase,
  .search-submit {
    display: inline-block;
    text-align: center;
    text-decoration: none !important;
    width: rem(44);
    height: rem(44);
    margin: 0;
    border: none;
    cursor: pointer;
    @include define-basic-transition(all, 0.3s);
    background-color: transparent;
    font-size: rem(25);
    color: $color-4;

    span {
      position: absolute;
      top: rem(11);
      right: rem(9);
    }
  }
}

.expander {
  position: relative;
  line-height: rem(17) !important;
  font-weight: $font-weight-2 !important;
  padding-left: rem(25) !important;
  text-align: left;
  @include reset-button;

  .exp-plus {
    &:before {
      position: absolute;
      left: 0;
      font-family: "Font Awesome 5 Free";
      content: "\f0fe";
    }
  }

  .exp-minus {
    &:before {
      position: absolute;
      left: 0;
      font-family: "Font Awesome 5 Free";
      content: '\f146';
    }
  }
}



.card {

  &:has(a:focus-visible) {
    z-index: 99999 !important;

  }

  &:has(.card-link:focus-visible) {

    .element-hover {
      text-decoration: underline;
    }

    .arrow-button {
      text-decoration: underline !important;
    }
  }


  &:hover {

    &.no-underline {

      .element-hover,
      .arrow-button {
        text-decoration: none !important;
      }
    }

    .element-hover {
      text-decoration: underline;
    }

    .arrow-button {
      text-decoration: underline !important;
    }
  }



  .card-link {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;

    &.new-window {
      &::after {
        position: absolute;
        top: 5px;
        right: 5px;
      }
    }
  }

  .preserve-text {
    position: relative;
    z-index: 11;
  }

  .elent-with-link {
    position: relative;
    z-index: 11;
  }

  a {
    &:not(.card-link) {
      position: relative;
      z-index: 11;
    }
  }
}

.all-results {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: $color-2;
  margin-bottom: 0 !important;
}