// main: ../style.scss
@import 'vars';
@import 'mixin'; // comportamenti predefiniti

body {
	color: $color-1;
}

.clearer {
	clear: both;
}

.only-explorer {
	display: none !important;
}

.avviso {
	display: none;
}

.avviso-attivo {
	display: block;
}

.verticalize {
	@include flex-verticalize;
}

.navigation {
	display: none;
}

.bordered {
	&.bottom {
		border-bottom: solid 1px $color-10;
	}

	&.top {
		border-top: solid 1px $color-10;
	}
}
// responsive iframes / videos

.video_frame {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	width: 100%;
	height: auto;
}

.video_frame embed,
.video_frame iframe,
.video_frame object {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.iconized {
	position: relative;

	span {
		position: relative;
		top: 2px;
		margin: 0 5px 0 0;
	}
}

.iconized-top {
	position: relative;

	span {
		position: relative;
		top: 2px;
		margin: 0 5px 0 0;
	}
}

.search-suggestion-area {
	position: absolute;
	left: 0;
	top: 54px;
	z-index: 5;
	width: 100%;
	max-height: 250px;
	background-color: $color-12;
	overflow-y: scroll;
	border-bottom: solid 1px $color-10;
	opacity: 0;
	visibility: hidden;
	@include define-basic-transition(all, 0.3s);

	&.active {
		opacity: 1;
		visibility: visible;
	}
}

.search-suggestion {
	position: relative;
	padding: 5px;

	&:hover {
		background-color: $color-11;
	}

	h4,
	h5 {
		display: inline-block;
	}

	h5 {
		margin: 0 0 0 10px;
	}

	.h4-variant {
		margin: 0 !important;

		.mini-icon {
			position: relative;
			top: 3px;
			margin-right: 5px;
		}
	}
}

.autocomplete-suggestions {
	text-align: left;
	cursor: default;
	//border: 1px solid #ccc;
	border-top: 0;
	background: #fff;
	box-shadow: -1px 1px 3px rgba(0,0,0,.1);
	/* core styles should not be changed */
	position: absolute;
	display: none;
	z-index: 9999;
	max-height: 254px;
	overflow: hidden;
	overflow-y: auto;
	box-sizing: border-box;
}

.autocomplete-suggestion {
	position: relative;
	padding: 10px;
	line-height: $h4-lineheight-variant-desktop;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: $h4-size-variant-desktop;
	font-weight: $font-weight-1;
	color: $color-1;
}

.autocomplete-suggestion b {
	font-weight: normal;
	color: $color-3;
}

.autocomplete-suggestion.selected {
	background: $color-11;
}

div#wpadminbar {
	top: auto;
	bottom: 0;
	position: fixed;
}

.ab-sub-wrapper {
	bottom: 32px;
}

html[lang] {
	margin-top: 0 !important;
	margin-bottom: 32px !important;
}
@media screen and (max-width: 782px) {
	.ab-sub-wrapper {
		bottom: 46px;
	}

	html[lang] {
		margin-bottom: 46px !important;
	}
}