// main: ../style.scss
@import 'vars';
@import 'mixin'; // pagenavi

.wp-pagenavi {
	display: block;
	width: 100%;
	margin-top: rem(40);
	font-size: rem($h5-size-desktop);
	font-weight: $font-weight-1;
	text-align: center;
}

.wp-pagenavi .extend,
.wp-pagenavi .first,
.wp-pagenavi .last {
	display: none !important;
}

.wp-pagenavi .pages {
	display: none;
}

.wp-pagenavi .previouspostslink {
	display: inline-block;
	margin: 0 rem(20) 0 0;
	color: $color-2;
}

.wp-pagenavi .nextpostslink {
	display: inline-block;
	margin: 0 rem(20) 0 0;
	color: $color-4 !important;
}

.wp-pagenavi a {
	display: inline-block;
	width: rem(46);
	height: rem(46);
	text-align: center;
	line-height: rem(46);
	margin: 0 rem(20) 0 0;
	color: $color-1;
	border: none;
}

.wp-pagenavi a:link {
	color: $color-1;
}

.wp-pagenavi a:visited {
	color: $color-1;
}

.wp-pagenavi a:hover {
	color: $color-4;
}

.wp-pagenavi .page {
	display: inline-block;
	margin: 0 rem(20) 0 0;
	color: $color-2;
}

.wp-pagenavi span.current {
	display: inline-block;
	display: inline-block;
	width: rem(46);
	height: rem(46);
	text-align: center;
	line-height: rem(46);
	margin: 0 rem(20) 0 0;
	color: $color-4;
	border: $color-4 solid rem(1);
	@include define-border-radius(rem(4));
}