// main: ../style.scss
@import 'vars';
@import 'mixin'; // pagenavi

.wp-pagenavi {
	display: block;
	width: 100%;
	font-size: $h4-size-desktop;
	font-weight: $font-weight-2;
}

.wp-pagenavi .extend,
.wp-pagenavi .first,
.wp-pagenavi .last {
	display: none !important;
}

.wp-pagenavi .pages {
	display: none;
}

.wp-pagenavi .previouspostslink {
	display: inline-block;
	float: left;
	margin: 0 20px 0 0;
	color: $color-2;
}

.wp-pagenavi .nextpostslink {
	display: inline-block;
	float: left;
	margin: 0 20px 0 0;
	color: $color-2;
}

.wp-pagenavi a {
	display: inline-block;
	float: left;
	margin: 0 20px 0 0;
	color: $color-2;
	border: none !important;
}

.wp-pagenavi a:link {
	color: $color-2;
}

.wp-pagenavi a:visited {
	color: $color-2;
}

.wp-pagenavi a:hover {
	color: $color-1;
}

.wp-pagenavi .page {
	display: inline-block;
	float: left;
	margin: 0 20px 0 0;
	color: $color-2;
}

.wp-pagenavi span.current {
	display: inline-block;
	float: left;
	margin: 0 20px 0 0;
	color: $color-3;
	border: none !important;
}