// main: ../style.scss
@import 'vars';
@import 'mixin';

.activate-search,
.arrow-button,
.button-typo-normalizer,
.caption,
.card p,
.cta,
.inner-news-listing,
.navi,
.paragraph-variant,
.paragraph-variant-holder p,
.search-overlay-title,
.square-button,
.tag-button,
.wp-caption-text,
.wp-caption.aligncenter .wp-caption-text,
.wp-caption.alignleft .wp-caption-text,
.wp-caption.alignnone .wp-caption-text,
.wp-caption.alignright .wp-caption-text,
h1,
h2,
h3,
h4,
h5,
h6,
input[type=email],
input[type=number],
input[type=tel],
input[type=text],
select,
small,
textarea {
  font-family: $font-main;
}

p {
  font-family: $font-sub;
}

.arrow-button,
.rebold,
.search-overlay-title,
.square-button,
h1,
h2,
h3,
h4,
h6 {
  font-weight: $font-weight-3;
}

.rebold {
  font-weight: $font-weight-3 !important;
}

.activate-search,
.card p strong,
.index-listing,
.navi,
.tag-button,
h5 {
  font-weight: $font-weight-2;
}

.breadcrumbs-holder,
.button-typo-normalizer,
.caption,
.card p,
.content-styled h3,
.h3-variant,
.inner-news-listing,
.paragraph-variant,
.paragraph-variant-holder p,
.share-actions,
.wp-caption-text,
.wp-caption.aligncenter .wp-caption-text,
.wp-caption.alignleft .wp-caption-text,
.wp-caption.alignnone .wp-caption-text,
.wp-caption.alignright .wp-caption-text,
p,
small {
  font-weight: $font-weight-1;
}

.light {
  font-weight: $font-weight-1 !important;
}

.aligncenter {
  text-align: center;
}

.alignright {
  text-align: right;
}

.alignleft {
  text-align: left;
}

.allupper,
.arrow-button {
  text-transform: uppercase;
}
// comma separated links

.category-list {
  //margin-bottom: 24px;
  a:link {
    &:after {
      content: ", ";
    }

    &:last-child:after {
      content: "";
    }
  }

  span {
    &:after {
      content: ", ";
    }

    &:last-child:after {
      content: "";
    }
  }
}
// remove typography elements last child margin bottom

.last-child-no-margin {
  h1:last-child,
  h2:last-child,
  h3:last-child,
  h4:last-child,
  h5:last-child,
  h6:last-child,
  ol:last-child,
  p:last-child,
  ul:last-child {
    margin-bottom: 0 !important;
  }
}

.lighter-h4 {
  font-weight: $font-weight-1;
}

.content-styled {
  h4 {
    font-weight: $font-weight-1;
  }

  strong {
    font-weight: $font-weight-3;
  }

  ol,
  ul {
    font-family: $font-sub;
  }

  ul {
    list-style-position: inside;
    list-style: none;
    padding: 0;

    li {
      display: table-row;

      &:before {
        position: relative;
        display: table-cell;
        content: '●';
        font-weight: $font-weight-3;
        color: $color-2;
        padding: 0 10px 0 0;
      }
    }
  }

  ol {
    list-style-type: none;
    list-style-type: decimal;
    padding: 0;
    counter-reset: li-counter;
  }

  ol > li {
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0 0 0 20px;
    display: table-row;

    &:before {
      position: relative;
      display: table-cell;
      top: 0;
      left: 0;
      font-weight: $font-weight-3;
      color: $color-2;
      text-align: right;
      content: counter(li-counter)". ";
      counter-increment: li-counter;
      padding: 0 15px 0 0;
    }
  }
}

.inner-news-listing {
  ul {
    list-style-position: inside;
    list-style: none;
    padding: 0;
    margin-bottom: 35px;

    li {
      position: relative;
      padding: 0 0 10px 34px;
      margin: 0 0 10px;
      border-bottom: solid 1px $color-10;
      min-height: 24px;

      &:last-child {
        border-bottom: none;
      }

      .mini-icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        font-size: 25px;
      }
    }
  }
}

.maxi-icon {
  position: relative;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  font-size: 48px;
}

.card {
  &.restricted,
  &.warning {
    .icon {
      font-size: 24px;
    }
  }
}

#footer {
  h5 {
    text-transform: uppercase;
  }
}

.light {
  font-weight: $font-weight-1 !important;
}

.chiudi-avviso {
  font-weight: $font-weight-3;
  font-size: $h6-size-desktop;
}

.title-icon {
  position: relative;
  top: 3px;
}