// main: ../style.scss
$break-desktop: 1024px;
$break-tablet-end: 1023px;
$break-mobile-start: 1px; // fonts vars
$font-main: 'Titillium Web', sans-serif;
$font-sub: 'Lora', serif;
$font-weight-1: 400; //Lora - regular | //Titillium - regular
$font-weight-2: 600; //Titillium - semi bold
$font-weight-3: 700; //Lora - bold | Titillium - bold
// header sizes
$header-desktop-height: 226px;
$header-desktop-height-compact: 64px;
$header-smartphone-height: 136px;
$header-smartphone-height-compact: 80px; // wrapper paddings
$wrapper-padded-desktop: 3.5vw;
$wrapper-padded-smartphone: 5vw;
// colors vars
$color-1: #363B3F;
//$color-2: #2773B3;
$color-2: #1A4D78;
//$color-3: #3499EF;
$color-3: #2670af;
//$color-4: #019E59;
$color-4: #018048;
//$color-4: #016037;
$color-5: #E23817;
$color-6: #FFAA00;
$color-7: #1A4D78;
$color-8: #EBF7F2;
$color-9: #F0F7FD;
$color-10: #C4C8CB;
$color-11: #F0F0F0;
$color-12: #FFFFFF;
$color-13: #7C7C7C; // form usability colors
$color-form-ok: #0DBA04;
$color-form-error: #FF0000; //fonts desktop
$h1-size-desktop: 48;
$h1-lineheight-desktop: 60;
$h1-marginbottom-desktop: 24;
$h2-size-desktop: 40;
$h2-lineheight-desktop: 48;
$h2-marginbottom-desktop: 24;
$h3-size-desktop: 28;
$h3-lineheight-desktop: 36;
$h3-marginbottom-desktop: 16;
$h4-size-desktop: 24;
$h4-lineheight-desktop: 32;
$h4-marginbottom-desktop: 16;
$h4-size-variant-desktop: 20;
$h4-lineheight-variant-desktop: 28;
$h4-marginbottom-variant-desktop: 8;
$h5-size-desktop: 18;
$h5-lineheight-desktop: 26;
$h5-marginbottom-desktop: 8;
$h6-size-desktop: 14;
$h6-lineheight-desktop: 20;
$h6-marginbottom-desktop: 0;
$paragraph-size-desktop: 18;
$paragraph-lineheight-desktop: 28;
$paragraph-marginbottom-desktop: 16;
$cta1-size-desktop: 18;
$cta1-lineheight-desktop: 30;
$cta1-marginbottom-desktop: 0;
$small-size-desktop: 14;
$small-lineheight-desktop: 20;
$small-marginbottom-desktop: 0; //fonts smartphone
$h1-size-smartphone: 32;
$h1-lineheight-smartphone: 40;
$h1-marginbottom-smartphone: 24;
$h2-size-smartphone: 28;
$h2-lineheight-smartphone: 36;
$h2-marginbottom-smartphone: 16;
$h3-size-smartphone: 24;
$h3-lineheight-smartphone: 32;
$h3-marginbottom-smartphone: 16;
$h4-size-smartphone: 21;
$h4-lineheight-smartphone: 30;
$h4-marginbottom-smartphone: 16;
$h4-size-variant-smartphone: 18;
$h4-lineheight-variant-smartphone: 24;
$h4-marginbottom-variant-smartphone: 8;
$h5-size-smartphone: 18;
$h5-lineheight-smartphone: 26;
$h5-marginbottom-smartphone: 8;
$h6-size-smartphone: 14;
$h6-lineheight-smartphone: 20;
$h6-marginbottom-smartphone: 0;
$paragraph-size-smartphone: 16;
$paragraph-lineheight-smartphone: 24;
$paragraph-marginbottom-smartphone: 16;
$cta1-size-smartphone: 18;
$cta1-lineheight-smartphone: 30;
$cta1-marginbottom-smartphone: 0;
$small-size-smartphone: 14;
$small-lineheight-smartphone: 20;
$small-marginbottom-smartphone: 0;