// main: ../style.scss
$break-desktop: 1024px;
$break-tablet-end: 1023px;
$break-mobile-start: 1px; // fonts vars
$font-main: 'Titillium Web', sans-serif;
$font-sub: 'Lora', serif;
$font-weight-1: 400; //Lora - regular | //Titillium - regular
$font-weight-2: 600; //Titillium - semi bold
$font-weight-3: 700; //Lora - bold | Titillium - bold
// header sizes
$header-desktop-height: 226px;
$header-desktop-height-compact: 102px;
$header-smartphone-height: 64px; // wrapper paddings
$wrapper-padded-desktop: 30px;
$wrapper-padded-smartphone: 30px; // colors vars
$color-1: #363B3F;
$color-2: #2773B3;
$color-3: #3499EF;
$color-4: #019E59;
$color-5: #E23817;
$color-6: #FFAA00;
$color-7: #1A4D78;
$color-8: #EBF7F2;
$color-9: #F0F7FD;
$color-10: #C4C8CB;
$color-11: #F0F0F0;
$color-12: #FFFFFF;
$color-13: #7C7C7C; // form usability colors
$color-form-ok: #0DBA04;
$color-form-error: #FF0000; //fonts desktop
$h1-size-desktop: 48px;
$h1-lineheight-desktop: 60px;
$h1-marginbottom-desktop: 24px;
$h2-size-desktop: 40px;
$h2-lineheight-desktop: 48px;
$h2-marginbottom-desktop: 24px;
$h3-size-desktop: 32px;
$h3-lineheight-desktop: 40px;
$h3-marginbottom-desktop: 16px;
$h4-size-desktop: 24px;
$h4-lineheight-desktop: 32px;
$h4-marginbottom-desktop: 16px;
$h4-size-variant-desktop: 20px;
$h4-lineheight-variant-desktop: 30px;
$h4-marginbottom-variant-desktop: 8px;
$h5-size-desktop: 16px;
$h5-lineheight-desktop: 24px;
$h5-marginbottom-desktop: 8px;
$h6-size-desktop: 14px;
$h6-lineheight-desktop: 20px;
$h6-marginbottom-desktop: 0;
$paragraph-size-desktop: 18px;
$paragraph-lineheight-desktop: 28px;
$paragraph-marginbottom-desktop: 16px;
$cta1-size-desktop: 18px;
$cta1-lineheight-desktop: 30px;
$cta1-marginbottom-desktop: 0;
$small-size-desktop: 14px;
$small-lineheight-desktop: 20px;
$small-marginbottom-desktop: 0; //fonts smartphone
$h1-size-smartphone: 40px;
$h1-lineheight-smartphone: 50px;
$h1-marginbottom-smartphone: 16px;
$h2-size-smartphone: 24px;
$h2-lineheight-smartphone: 32px;
$h2-marginbottom-smartphone: 16px;
$h3-size-smartphone: 20px;
$h3-lineheight-smartphone: 30px;
$h3-marginbottom-smartphone: 16px;
$h4-size-smartphone: 20px;
$h4-lineheight-smartphone: 30px;
$h4-marginbottom-smartphone: 16px;
$h5-size-smartphone: 20px;
$h5-lineheight-smartphone: 30px;
$h5-marginbottom-smartphone: 16px;
$h6-size-smartphone: 20px;
$h6-lineheight-smartphone: 30px;
$h6-marginbottom-smartphone: 16px;
$paragraph-size-smartphone: 16px;
$paragraph-lineheight-smartphone: 24px;
$paragraph-marginbottom-smartphone: 16px;
$cta1-size-smartphone: 12px;
$cta1-lineheight-smartphone: 20px;
$cta1-marginbottom-smartphone: 10px;
$cta2-size-smartphone: 12px;
$cta2-lineheight-smartphone: 20px;
$cta2-marginbottom-smartphone: 10px;